{% extends "profile/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-7">
    <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-list-ol"></i> <span>修改资料</span></h3>
    </div>
    <form id="modifyInfoForm" method="post" class="form-horizontal">
      <div class="box-body">
        {{ user_modify_form.hidden_tag() }}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputName">姓名</label>
          <div class="col-sm-9">
            {{ user_modify_form.name(class='form-control required', id="inputName",  placeholder="真实姓名") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputSno">学号</label>
          <div class="col-sm-9">
            {{ user_modify_form.stu_id(class='form-control required', id="inputSno", placeholder="学号") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputEmail">邮箱</label>
          <div class="col-sm-9">
            {{ user_modify_form.email(class='form-control required', id="inputEmail", placeholder="邮箱") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputPhone">电话</label>
          <div class="col-sm-9">
            {{ user_modify_form.phone(class='form-control required', id="inputPhone", placeholder="电话") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputSchool">学校</label>
          <div class="col-sm-9">
            {{ user_modify_form.school(class='form-control required', id="inputSchool", placeholder="学校") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputMotto">座右铭</label>
          <div class="col-sm-9">
            {{ user_modify_form.motto(class='form-control required', id="inputMotto", placeholder="座右铭") }}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="inputSituation">现状</label>
          <div class="col-sm-9">
            {{ user_modify_form.situation(class='form-control required', id="inputSituation", placeholder="现状") }}
          </div>
        </div>
        <div class="alert alert-danger col-sm-offset-1 col-sm-10" id="add-info" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span id="add-info-text">Danger alert preview. </span>
        </div>
      </div>
      <div class="box-footer">
        {{ user_modify_form.submit(class='btn btn-primary btn-block') }}
      </div>
    </form>
  </div>
  </div>
  <div class="col-md-5">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list-ol"></i> <span>修改密码</span></h3>
      </div>
      <form id="modifyPwdForm" class="form-horizontal">
        <div class="box-body">
          {{ pwd_form.hidden_tag() }}
          {{ pwd_form.username(style="display:none", id="mUsername", placeholder="用户名") }}
          <div class="form-group">
            <label class="col-sm-3 control-label" for="inputSituation">密码</label>
            <div class="col-sm-8">
              {{ pwd_form.password(class='form-control required', id="mPassword", placeholder="密码") }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="inputSituation">确认密码</label>
            <div class="col-sm-8">
              {{ pwd_form.password2(class='form-control required', id="mPassword2", placeholder="确认密码") }}
            </div>
          </div>
          <div class="alert alert-danger col-sm-offset-1 col-sm-10" id="mod-pwd" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> 错误!</h4>
            <span id="mod-pwd-text">Danger alert preview. </span>
          </div>
        </div>
        <div class="box-footer">
          {{ pwd_form.submit(class='btn btn-danger btn-block') }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{%- block script -%}
<script>
$(document).ready(function () {
  $("button.close").click(function () {
    $(".alert").slideUp();
    return false;
  });
  $('#modifyInfoForm').submit(function () {
    $.post("{{ url_for('ajax.modify_userinfo') }}", $('#modifyInfoForm').serialize()).success(
      function (data) {
        $("#add-info-text").html(data);
        $("#add-info").slideDown(200);
      }
    );
    return false;
  });
  $('#modifyPwdForm').submit(function () {
    $.post("{{ url_for('ajax.modify_pwd') }}", $('#modifyPwdForm').serialize()).success(
      function (data) {
        $("#mod-pwd-text").html(data);
        $("#mod-pwd").slideDown(200);
      }
    );
    return false;
  });
});
</script>
{%- endblock -%}