{% extends "profile/base.html" %}
{% block content %}
<div class="container" style="width: 95%">
{%- if account_info['have'] and account_info['have'] != [] -%}

        {%- for account in account_info['have'] -%}
        <div class="span4">
            <div class="block">
            <div class="block-header">
                <h3 class="block-title"><i class="fa fa-list-ol"></i> <span>{{ OJ_MAP[account] }}</span></h3>
            </div>
            <div class="block-content">
                {%- if account in ['cf', 'bc'] -%}
                <canvas id="{{ account + '/' + str(general_info[account]['rating']) + '/' + str(general_info[account]['max_rating']) }}"
                        class="sChart" width="120" height="120">
                </canvas>
                <div class="specInfo table table-striped"><table class="table">
                    <tr>
                        <td><span class="label label-info">Rating</span></td>
                        <td><b class="muted">{{ general_info[account]['rating'] }}</b></td>
                    </tr>
                    <tr>
                        <td><span class="label">Max Rating</span></td>
                        <td><b class="muted">{{ general_info[account]['max_rating'] }}</b></td>
                    </tr>
                    <tr>
                        <td><span class="label">Last Update Time</span></td>
                        <td><b class="muted">{{ general_info[account]['last_update_time'] }}</b></td>
                    </tr>
                </table></div>
                {%- else -%}
                <canvas id="{{ account + '/' + str(general_info[account]['solved']) + '/' + str(general_info[account]['submitted']) }}"
                        class="sChart" width="120" height="120">
                </canvas>
                <div class="specInfo"><table class="table table-striped">
                    <tr>
                        <td><span class="label label-info">Accepted</span></td>
                        <td><b class="muted">{{ general_info[account]['solved'] }}</b></td>
                    </tr>
                    <tr>
                        <td><span class="label">Submitted</span></td>
                        <td><b class="muted">{{ general_info[account]['submitted'] }}</b></td>
                    </tr>
                    <tr>
                        <td><span class="label">Last Update Time</span></td>
                        <td><b class="muted">{{ general_info[account]['last_update_time'] }}</b></td>
                    </tr>
                </table></div>
                {%- endif -%}
            </div>
            </div>
        </div>
        {%- endfor -%}
        {%- endif -%}
   </div>
{% endblock %}
{%- block script -%}
<script src="{{ url_for('static', filename='scripts/Chart.min.js') }}"></script>
<script>
    function gaoPieChart(field, p1, p2, label_info) {
        var data = [
            {value: p1, color: "#0075b0", label: label_info[0]},
            {value: (parseInt(p2) - parseInt(p1)), color: "#949FB1", label: label_info[1]}
        ];
        var cur = field.getContext('2d');
        var myNewChart = new Chart(cur).Pie(data);
    }
    function gaoBarChart(field, p1, p2, label_info) {
        var data = {
            labels: [label_info[0]],
	        datasets : [
                { fillColor : "rgba(0, 117, 176, 0.5)", strokeColor : "rgba(151, 187, 205, 1)", data : [p1] },
                { fillColor : "rgba(148, 159, 177, 0.5)", strokeColor : "rgba(220, 220, 220, 1)", data : [p2] }
	        ]
        };
        var cur = field.getContext('2d');
        var myNewChart = new Chart(cur).Bar(data);
    }
    $(document).ready(function () {
        $('#content').hide().fadeIn(500);
        $('.add-oj-button').each(function () {
            $(this).click(function () {
                var oj_name1 = $(this).html();
                var oj_name2 = $(this).attr('name');
                $('#ModalTitle').html('添加' + oj_name1 + '账户信息');
                $('#add-oj-form').attr('action', '/add_account/' + oj_name2);
                if (oj_name2 == 'uva') {
                    $('.inputPassword').html('UVA ID');
                    $('#inputPassword').attr('type', 'text').attr('placeholder', 'UVA ID');
                } else {
                    $('.inputPassword').html('密码');
                    $('#inputPassword').attr('type', 'password').attr('placeholder', 'Password');
                }
            });
        });
        $('.modify-oj-button').each(function () {
            $(this).click(function () {
                var oj_name1 = $(this).html();
                var oj_name2 = $(this).attr('name');
                $('#ModalTitle').html('修改' + oj_name1 + '账户信息');
                $('#add-oj-form').attr('action', '/modify_account/' + oj_name2);
                if (oj_name2 == 'uva') {
                    $('.inputPassword').html('UVA ID');
                    $('#inputPassword').attr('type', 'text').attr('placeholder', 'UVA ID');
                } else {
                    $('.inputPassword').html('密码');
                    $('#inputPassword').attr('type', 'password').attr('placeholder', 'Password');
                }
            });
        });
        $('#add-oj-form').submit(function() {
            var name_field = $('#inputUsername');
            var pwd_field = $('#inputPassword');
            return requiredCheck(name_field, '用户名') && requiredCheck(pwd_field, '密码');
        });
    });
    $(document).ready(function () {
        $('.sChart').each(function() {
            var all_data = $(this).attr('id').split('/');
            var label = all_data[0];
            var p1 = all_data[1];
            var p2 = all_data[2];
            var label_info;
            if (label == 'cf' || label == 'bc') {
                label_info = ['Rating', 'Max Rating'];
                gaoBarChart(this, p1, p2, label_info);
            } else {
                label_info = ['Accepted', 'Wrong Answer'];
                gaoPieChart(this, p1, p2, label_info);
            }

        });
    });
</script>
{%- endblock -%}