{% extends "profile/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-user"></i> <span>队员信息</span></h3>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped">
            <tr><td>姓名</td><td>{{ user.name if user.name else '' }}</td></tr>
            <tr><td>学号</td><td>{{ user.stu_id if user.stu_id else '' }}</td></tr>
            <tr><td>昵称</td><td>{{ user.username if user.username else '' }}</td></tr>
            <tr><td>邮箱</td><td>{{ user.email if user.email else '' }}</td></tr>
            <tr><td>电话</td><td>{{ user.phone if user.phone else '' }}</td></tr>
            <tr><td>学校</td><td>{{ user.school if user.school else '' }}</td></tr>
            <tr><td>座右铭</td><td>{{ user.remark if user.remark else '' }}</td></tr>
            <tr><td>创建时间</td><td>{{ user.create_time if user.create_time else '' }}</td></tr>
            <tr><td>性别</td><td>{{ '男' if user.gender else '女' }}</td></tr>
            <tr><td>现状</td><td>{{ user.situation if user.situation else '' }}</td></tr>
          </table>
        </div>
        {% if user == current_user %}
          <div class="box-footer clearfix">
          <a class="btn btn-block btn-primary pull-right"
             href="{{ url_for('profile.modify_info') }}">修改用户信息</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-5">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-binoculars"></i> <span>统计信息</span></h3>
        </div>
        <div class="box-body">
          <table class="table table-no-border">
            <tr><td>本周提交数</td><td><span class="label label-default">{{ stat['weekly_submit'] }}</span></td></tr>
            <tr><td>总提交数</td><td><span class="label label-default">{{ stat['total_submit'] }}</span></td></tr>
          </table>
        </div>
        {% if user == current_user %}
        <div class="box-footer clearfix">
          <a class="btn btn-block btn-danger pull-right"
             href="{{ url_for('profile.update_account', username = user.username) }}">更新</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
{%- block script -%}
{%- endblock -%}