<tr id="account{{ account['id'] }}" class="account-item">
  <td class="list-item-check">
    <label><input type="radio" name="account" value="{{ account['id'] }}"></label>
  </td>
  <td class="list-item-oj">
    <p>{{ account['oj_name'] }}</p>
    <label class="oj-nickname label label-primary">{{ account['account_name'] }}</label>
  </td>
  <td class="list-item-status">
    {% if account['status'] == '正常' %}
    <label class="label label-success">
    {% elif account['status'] == '未初始化' %}
      <label class="label label-warning">
    {% elif account['status'] == '等待更新' %}
      <label class="label label-primary">
    {% elif account['status'] == '正在更新' %}
      <label class="label label-primary">
    {% elif account['status'] == '更新失败' %}
      <label class="label label-danger">
    {% endif %}
      {{ account['status'] }}
    </label>
  </td>
  <td class="list-item-info">
    {%- if account['oj_name'] in ['Codeforces', 'BestCoder'] -%}
    <p><span class="info-text">Rating</span>
        <span class="info-num">{{ account['rating'] }}</span></p>
      <p><span class="info-text">Max Rating</span>
        <span class="info-num">{{ account['max_rating'] }}</span></p>
    {%- else -%}
      <p><span class="info-text">Accepted</span>
        <span class="info-num">{{ account['solved'] }}</span></p>
      <p><span class="info-text">Submitted</span>
        <span class="info-num">{{ account['submitted'] }}</span></p>
    {%- endif -%}
  </td>
  <td class="list-item-time text-muted">
    {{ account['last_update_time'] }}
  </td>
</tr>