<tr id="news{{ article.id }}">
  <td class="list-item-check">
    <label><input type="radio" name="article" value="{{ article.id }}"></label>
  </td>
  <td class="list-item-title">
    <a href="{{ url_for('main.article', p=article.id) }}">{{ article.title }}</a>
  </td>
  <td class="list-item-name">
    <a href="{{ url_for('profile.index',username=article.user.username) }}" target="_blank">
      <b>{{ article.user.name }}</b></a>
  </td>
  <td class="list-item-type">
    {% if article.is_draft %}
      <label class="label label-primary">草稿</label>
    {% else %}
      <label class="label label-success">已发布</label>
    {% endif %}
    {% if article.is_top %}
      <label class="label label-danger">已置顶</label>
    {% endif %}
  </td>
  <td class="list-item-time text-muted">
    {{ article.last_update_time }}
  </td>
</tr>