<tr id="honor{{ honor.id }}">
  <td class="list-item-check">
    <label><input type="radio" name="honor" value="{{ honor.id }}"></label>
  </td>
  <td class="list-item-contest-name">
      <a href="{{ url_for('main.honor', honor_id=honor.id) }}">{{ honor.contest_name }}</a>
  </td>
  <td class="list-item-level">
      {{ level_mapper[honor.contest_level] }}
  </td>
  <td class="list-item-users">
    {% for user in honor.users %}
      <span class="label label-primary">{{ user.name }}</span>
    {% endfor %}
  </td>
  <td class="list-item-time text-muted">
    {{ honor.acquire_time.strftime('%Y-%m-%d') }}
  </td>
</tr>