<li class="timeline-one" id="honor{{ honor.id }}" data-year="{{ honor.acquire_time.year }}">
  <i class="fa fa-flag bg-blue"></i>
  <div class="timeline-item">
    <span class="time"><i class="fa fa-calendar"></i>
      {{ honor.acquire_time.strftime("%Y-%m-%d") }}
    </span>
    <h3 class="timeline-header">{{ honor.contest_name }}</h3>
    <div class="timeline-body">
      <div class="contest_level">
        <b style="padding-right: 20px;">获奖成果</b>
        <span class="label label-primary">{{ level_mapper[honor.contest_level] }}</span>
      </div>
      <div class="contest_users">
        <b style="padding-right: 20px;">参赛队员</b>
        {% for user in honor.users %}
          <span class="label label-primary">{{ user.name }}</span>
        {% endfor %}
      </div>
      <div class="contest_resources">
        {% for resource in honor.resources %}
          <img src="{{ url_for('main.resource', name=resource.filename) }}">
        {% endfor %}
      </div>
    </div>
    <div class="timeline-footer">
      <div class="introduce">
        {{ honor.md_introduce|safe }}
      </div>
      <a class="btn btn-default btn-sm more-info" data-target="{{ honor.id }}" data-state="0">
        更多详情 <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>
</li>