<tr id="resource{{ resource.id }}">
  <td class="list-item-check">
    <label><input type="radio" name="resource" value="{{ resource.id }}"></label>
  </td>
  <td class="list-item-filename">
    <p>{{ resource.name }}</p>
    <span class="badge">{{ resource.file_type }}</span>
  </td>
  <td class="list-item-description">
    <b>{{ resource.description }}</b>
  </td>
  <td class="list-item-size">
    {{ file_size(resource) }} KB
  </td>
  <td class="list-item-user">
    {{ resource.user.name }}
  </td>
  <td class="list-item-rights">
    {% if resource.level == 0 %}
      <label class="label label-primary">公开</label>
    {% elif resource.level == 1 %}
      <label class="label label-success">共享</label>
    {% else %}
      <label class="label label-danger">私有</label>
    {% endif %}
    {% if resource.usage == 0 %}
      <label class="label label-primary">图书</label>
    {% elif resource.usage == 1 %}
      <label class="label label-success">荣誉墙</label>
    {% elif resource.usage == 2 %}
      <label class="label label-danger">新闻</label>
    {% elif resource.usage == 3 %}
        <label class="label label-warning">题解</label>
    {% else %}
        <label class="label label-default bg-purple">其他</label>
    {% endif %}
  </td>
  <td class="list-item-time text-muted">
    {{ resource.upload_time }}
  </td>
</tr>