<tr id="user{{ user.id }}">
  <td class="list-item-check">
    <label><input type="radio" name="user" value="{{ user.id }}"></label>
  </td>
  <td class="list-item-face">
    <img src="{{ user.gravatar(256) }}">
  </td>
  <td class="list-item-name">
    <a href="{{ url_for('profile.index',username=user.username) }}" target="_blank">
      <b>{{ user.name }}</b></a>
  </td>
  <td class="list-item-type">
    {% if user.is_admin %}
      <label class="label label-danger" >管理员</label>
    {% endif %}
    {% if user.is_coach %}
      <label class="label label-success">教练</label>
    {% endif %}
    {% if user.is_student %}
      <label class="label label-primary">学生</label>
    {% endif %}
  </td>
  <td class="list-item-email text-muted">{{ user.email }}</td>
  <td class="list-item-school text-muted">{{ user.school }}</td>
</tr>