{% extends "index/base.html" %}
{% block head %}
{% endblock %}

{% block loginbar %}

{% endblock %}
{% block content %}
    <div class="container">
    <div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><h3 align="center">很偶然的，我们聚到了一起。
2011年的夏天，刚研究生毕业的老杜，告别了他的母校北师大，扛着大包小包来到成信院，落户软件工程学院，建立ACM校队……</h3><img src="/static/image/duxy.png"></div>
    <div class="item"><h3 align="center">老杜还有名师风范</h3><img src="/static/image/our2.png"></div>
    <div class="item"><h3 align="center">事实上，这里每个人都是主角，都有个性，都有目标，梦想。</h3><img src="/static/image/our3.png"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}