{% extends "index/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='highlight/monokai_sublime.css') }}"/>
{% endblock %}

{% block loginbar %}

{% endblock %}
{% block content %}
<div class="row">
{% if not articles %}
  <div class="col-xs-offset-1 col-xs-10 text-center">
    <h1>无题解</h1>
  </div>
{% endif %}
  <div class="col-sm-offset-1 col-sm-7">
    {% for one in articles %}
      <div class="article-box">
        <div class="article-header">
          <h2 class="article-title">
            <a href="{{ url_for('main.article', p=one.id)}}">{{ one.title }}</a>
            {% if one.is_top %}
            <label class="text-red pull-right"><i class="fa fa-thumb-tack"></i></label>
            {% endif %}
          </h2>
          <div class="article-meta">
            <span><i class="fa fa-calendar"></i> {{ one.last_update_time.strftime('%Y-%m-%d') }}</span>
            <span><a href="{{ url_for('profile.index',username=one.user.username) }}">{{ one.user.name }}</a></span>
            {% if current_user == one.user %}
              <span><a href="{{ url_for('profile.edit_article', p=one.id) }}">edit</a></span>
            {% endif %}
          </div>
        </div>
        <div class="article-body text-muted">
          {{ one.md_shortcut|safe }}
        </div>
        <a href="{{ url_for('main.article',p=one.id) }}" class="article-more-link btn btn-primary btn-flat">阅读全文 >></a>
        <div class="article-footer">
          <i class="fa fa-tags"></i>
          {% for tag in one.tags %}
            <span><a href="{{ url_for('main.article_archive', tag=tag.name) }}" class="label label-default"> {{ tag.name }}</a></span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    {% if articles %}
    <nav>
      <ul class="pager">
        {% if page > 0 %}
        <li class="previous"><a href="{{ url_for('main.article_list', page = page - 1) }}"><span aria-hidden="true">&larr;</span> 上一页</a></li>
        {% endif %}
        {% if page * limit + limit < sum %}
          <li class="next"><a href="{{ url_for('main.article_list', page = page + 1) }}">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>

    <div class="col-sm-3">
     {% if recent_articles != [] %}
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">近期文章</h3>
        </div>
        <div class="box-body no-padding">
          <ul class="recent_articles">
            {% for article in recent_articles %}
              <li><a href="{{ url_for('main.article', p=article.id) }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>

</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}