{% extends "index/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}"/>
{% endblock %}

{% block loginbar %}
{% endblock %}

{% block content %}
<div class="row">
  <div id="book-list" class="col-xs-offset-1 col-sm-10">
    {% for one in books %}
      <div class="col-md-3 col-sm-4 book-box">
        <div id="book{{ one.id }}" class="book-grid">
          <div class="book-cover">
            {% if one.shortcut == '' %}
              <a class="open-book-info" href="" name="{{ one.id }}"><img src="{{ url_for('static', filename='image/defaultBook.png') }}"></a>
            {% else %}
              <a class="open-book-info" href="" name="{{ one.id }}"><img src="{{ one.shortcut }}"></a>
            {% endif %}
          </div>
          <p class="book-title"><a class="open-book-info" href="_self" name="{{ one.id }}">{{ one.name }}</a></p>
          <div class="book-line"></div>
          <div class="book-footer">
            <table class="table footer-table">
              <tr><td width="50%">借书次数</td><td><span class='book-status'>{{ one.borrow_count }}</span></td></tr>
              <tr><td>当前状态</td><td><span class='book-status'>{{ smap[one.status] }}</span></td></tr>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for one in books %}
      <div class="col-md-3 col-sm-4 book-box">
        <div id="book{{ one.id }}" class="book-grid">
          <div class="book-cover">
            <a class="open-book-info" href="" name="{{ one.id }}"><img src="{{ url_for('static', filename='image/back-to-top.png') }}"></a>
          </div>
          <p class="book-title"><a class="open-book-info" href="_self" name="{{ one.id }}">{{ one.name }}</a></p>
          <div class="book-line"></div>
          <div class="book-footer">
            <table class="table footer-table">
              <tr><td width="50%">借书次数</td><td><span class='book-status'>{{ one.borrow_count }}</span></td></tr>
              <tr><td>当前状态</td><td><span class='book-status'>{{ smap[one.status] }}</span></td></tr>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for one in books %}
      <div class="col-md-3 col-sm-4 book-box">
        <div id="book{{ one.id }}" class="book-grid">
          <div class="book-cover">
            <a class="open-book-info" href="" name="{{ one.id }}"><img src="{{ url_for('static', filename='image/defaultBook.jpg') }}"></a>
          </div>
          <p class="book-title"><a class="open-book-info" href="_self" name="{{ one.id }}">{{ one.name }}</a></p>
          <div class="book-line"></div>
          <div class="book-footer">
            <table class="table footer-table">
              <tr><td width="50%">借书次数</td><td><span class='book-status'>{{ one.borrow_count }}</span></td></tr>
              <tr><td>当前状态</td><td><span class='book-status'>{{ smap[one.status] }}</span></td></tr>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/highlight.pack.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
  $(document).ready(function () {
    $('book-list').masonry({
      itemSelector: '.book-box',
      columnWidth: 180,
      gutterWidth : 15,
      isAnimated: true
    });
      $('#book-sidebar-close').click(function() {
          $('.book-sidebar').fadeOut();
      });
      $('.open-book-info').click(function() {
          $('.book-sidebar').fadeIn();
          $('.siderbar-content').html(this.getAttribute('data'));
          return false;
      });
  });
</script>
{% endblock %}