{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
{% endblock %}

{% block content %}
<div class="row filter-row">
  <div class="col-sm-offset-1 col-sm-3">
    <h2>荣誉墙</h2>
  </div>
  <div class="col-sm-7">
    <fieldset class="form-inline pull-right">
      <select class="form-control select-type" name="type">
        <option value="user">队员名</option>
        <option value="time">年份</option>
        <option value="contest_name">比赛名称</option>
        <option value="level">获奖成果</option>
      </select>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <div class="level-select" style="display: none">
        <select class="form-control" name="type">
          <option value="user">队员名</option>
          <option value="time">年份</option>
          <option value="contest_name">比赛名称</option>
          <option value="level">获奖成果</option>
        </select>
        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <ul class="timeline">
      <li class="timeline-one sr-only" data-year="0" style="height: 0; margin: 0"></li>
      <li class="timeline-end">
        <i class="fa fa-power-off"></i>
        <div class="timeline-item">
          <div class="timeline-body no-padding">
            <button class="more-honor btn btn-primary btn-block" data-offset="0">
              <i class="fa fa-chevron-down"></i>
            </button>
            <div class="progress">
              <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
                   aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">加载中</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function get_honor_wall(offset, limit) {
    var $timeline_end = $('li.timeline-end');
    var $end_fa = $('li.timeline-end > .fa');
    var $more_btn = $('li.timeline-end .more-honor');
    var $progress = $('li.timeline-end .progress');
    $end_fa.hide(); $more_btn.hide(); $progress.show();
    var data = { offset: offset, limit: limit };
    $.post("{{ url_for('ajax.get_honor_wall') }}", data).success(function(ret) {
      var honor_wall = ret.honor_wall,
          honor_count = ret.sum,
          start = ret.offset,
          length = ret.limit;
      var $last_honor = $timeline_end.prev('li.timeline-one');
      var last_honor_year = $last_honor.data('year');
      if (honor_count == 0) {
        $('.col-sm-9').append('<div class="text-center"><h2>暂无荣誉</h2></div>');
        $('ul.timeline').hide();
        return ;
      } else {
        for (var cur_year in honor_wall) {
          if (cur_year != last_honor_year) {
            $last_honor.after('<li class="time-label"><span class="bg-red">' + cur_year +  '</span></li>');
            $last_honor = $last_honor.next();
          }
          for (var index in honor_wall[cur_year]) {
            $last_honor.after(honor_wall[cur_year][index]);
            $last_honor = $last_honor.next();
          }
        }
      }
      $progress.hide();
      $end_fa.fadeIn(300);
      $more_btn.data('offset', start + length);
      if (honor_count == start + length) {
        $more_btn.hide();
      } else {
        $more_btn.fadeIn(300);
      }
    }).error(function() {

    });
  }
  function make_more_button(limit) {
    $(document).on('click', '.timeline-footer .more-info', function() {
      var state = $(this).data('state');
      var id = $(this).data('target');
      if (state == '0') {
        $(this).data('state', '1');
        $('#honor' + id + ' .introduce').slideDown();
        $(this).html('收起 <i class="fa fa-chevron-up"></i>');
      } else {
        $(this).data('state', '0');
        $('#honor' + id + ' .introduce').slideUp();
        $(this).html('更多详情 <i class="fa fa-chevron-down"></i>');
      }
    });
    $(document).on('click', 'li.timeline-end .more-honor', function() {
      var offset = $(this).data('offset');
      alert(offset);
      get_honor_wall(offset, limit);
    });
  }
  function change_filter() {
     $(document).on('change', '.filter-row .select-type', function() {
       var val = $(this).children('option:selected').val();
       if (val == 'level') {
         $('.filter-row .level-select').css('display', 'inline');
         $('.filter-row .input-group').css('display', 'none');
       } else {
         $('.filter-row .level-select').css('display', 'none');
         $('.filter-row .input-group').css('display', 'inline-table');
       }
     });
  }
  $(document).ready(function() {
    var limit = {{ limit }};
    get_honor_wall(0, limit);
    make_more_button(limit);
    change_filter();
  });
</script>
{% endblock %}