{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
{% endblock %}

{% block content %}
<div class="row filter-row">
  <div class="col-sm-offset-1 col-sm-11 col-xs-offset-1 col-xs-11">
    <fieldset class="form-inline pull-left">
      <select class="form-control select-type" name="type">
        <option value="user">队员名</option>
        <option value="team_name">队伍名</option>
        <option value="time">年份</option>
        <option value="contest_name">比赛名称</option>
        <option value="level">获奖成果</option>
      </select>
      <div class="input-group query-input">
        <input type="text" class="form-control">
        <span class="input-group-btn">
        </span>
      </div>
      <div class="level-select" style="display: none">
        <select class="form-control" name="type">
          {% for level in HONOR_LEVEL_MAP %}
          <option value="{{ level }}">{{ HONOR_LEVEL_MAP[level] }}</option>
          {% endfor %}
        </select>
      </div>
        <button class="btn btn-primary honor-search" type="button"><i class="fa fa-search"></i></button>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="text-center timeline-error" style="display: none">
      <h2>无数据</h2>
    </div>
    {% for honor_year in honor_wall %}
      <div class="honor-year">
        <h1>{{ honor_year }}</h1>
      </div>
      <div class="honor-wall">
      {% for honor in honor_wall[honor_year] %}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="honor-one" data-honor="{{ honor.id }}">
            <div class="thumbnail">
              <img src="{{ url_for('main.resource', name=honor.resources[0].filename) }}" class="poster">
              <p class="contest-name">{{ honor.contest_name }}</p>
            </div>
            <div class="tacker">
              <p>
              {% for user in honor.users -%}
                <span class="label label-primary">{{ user.name }}</span>
              {%- endfor %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='masonry/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='masonry/masonry.pkgd.min.js') }}"></script>
<script>
  function make_masonry() {
    var $container = $('.honor-wall');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.col-md-3',
        isAnimated: true
      });
    });
  }
  function make_filter() {
    $(document).on('click', '.honor-search', function() {
      var query_type = $(".select-type").val();
      var keyword;
      if (query_type == 'level') {
        keyword = $(".level-select select").val();
      } else {
        keyword = $(".query-input input").val()
      }
      if (keyword.length == 0) {
        $(".query-input input").focus().attr('placeholder', '请填写数据');
        return false;
      }

      var url = "{{ url_for('main.honor_wall') }}";
      url += '?query_type=' + query_type;
      url += '&keyword=' + keyword;
      window.location.href = url;
    });
  }
  function change_filter() {
     $(document).on('change', '.filter-row .select-type', function() {
       var val = $(this).children('option:selected').val();
       $(".query-input input").attr('placeholder', '');
       if (val == 'level') {
         $('.filter-row .level-select').css('display', 'inline');
         $('.filter-row .input-group').css('display', 'none')
                 .attr('placeholder', '');
       } else {
         $('.filter-row .level-select').css('display', 'none');
         $('.filter-row .input-group').css('display', 'inline-table');
       }
     });
  }
  function to_honor() {
    $(document).on('click', 'div.honor-one', function() {
      var honor_id = $(this).data('honor');
      var url = "{{ url_for('main.honor', honor_id='') }}";
      window.location.href = url + honor_id;
    });
  }
  $(document).ready(function() {
    change_filter();
    make_masonry();
    make_filter();
    to_honor();
  });
</script>
{% endblock %}