{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nivo-slider/nivo-slider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='nivo-slider/themes/light/light.css') }}">

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7 col-lg-offset-2 col-lg-6">
      <div class="slider-wrapper theme-light">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
          {% for resource in honor.resources %}
            <img src="{{ url_for('main.resource', name=resource.filename) }}"
                    data-thumb="{{ url_for('main.resource', name=resource.filename) }}"
                    title="{{ honor.contest_name }}">
          {% endfor %}
        </div>
        <div id="htmlcaption" class="nivo-html-caption"></div>
      </div>
    </div>
    <div class="col-sm-3 col-lg-2">

      <div class="honor-one" data-honor="{{ honor.id }}">
        <div class="thumbnail">
          <div class="caption">
            <p class="contest-name">{{ honor.contest_name }}</p>
            <p class="contest-level"><i class="fa fa-flag"> </i>
              {{ HONOR_LEVEL_MAP[honor.contest_level] }}
            </p>
            <p class="contest-time"><i class="fa fa-calendar"> </i>
              {{ honor.acquire_time.strftime('%Y-%m-%d') }}
            </p>
            <p class="team-name"><i class="fa fa-diamond"></i>
              {{ honor.team_name }}</p>
          </div>
        </div>
        <div class="tacker">
          <p>
            {% for user in honor.users %}
              <span class="label label-primary">{{ user.name }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='nivo-slider/jquery.nivo.slider.pack.js') }}"></script>
  <script>
  $(document).ready(function() {
    $('#slider').nivoSlider({
      controlNavThumbs: true
    });
});
  </script>
{% endblock %}