<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <title>{{ title }}</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/bootstrap/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/dist/css/AdminLTE.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/dist/css/skins/_all-skins.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='fakeLoader/fakeLoader.css') }}"/>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='AdminLTE2/plugins/datatables/dataTables.bootstrap.css') }}"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="skin-blue layout-top-nav fixed">
<div id="fakeLoader"></div>
<header class="main-header" >
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a href="{{ url_for('main.index') }}" class="navbar-brand">CUIT <b>ACM</b> Team</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a onclick="return false;">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="{{ url_for('main.news_list') }}">新闻</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.rank_list') }}">查水表</a></li>
            <li><a href="{{ url_for('main.status') }}">最近提交</a></li>
            <!--<li><a href="{{ url_for('main.article_list') }}">解题报告</a></li>-->
          {% endif %}
          <li><a href="{{ url_for('main.honor_wall') }}">荣誉墙</a></li>
          <li><a href="{{ url_for('main.members') }}">队员去向</a></li>
          <li><a href="http://oj.duxy.me" target="_blank">训练平台</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {%- if current_user.is_authenticated -%}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="{{ current_user.gravatar(size=30) }}" class="user-image" alt="User Image">
                <span class="hidden-xs">{{ current_user.name }}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="{{ current_user.gravatar(size=100) }}" class="img-circle" alt="User Image">
                  <p>
                    {{ current_user.name }}
                    <small>注册于 {{ current_user.create_time }}</small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="{{ url_for('profile.index') }}" class="btn btn-default btn-flat">个人主页</a>
                    {%- if current_user.is_admin or current_user.is_coach -%}
                      <a href="{{ url_for('admin.index') }}" class="btn btn-default btn-flat">管理员功能</a>
                    {%- endif -%}
                  </div>
                  <div class="pull-right">
                    <a href="{{ url_for('main.logout') }}" class="btn btn-default btn-flat">注销</a>
                  </div>
                </li>
              </ul>
            </li>
          {%- else -%}
            <li id="login-button"><a id="login" href="{{ url_for('main.login') }}">登录</a></li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div id="index-poster" class="carousel slide col-sm-12" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for poster in posters %}
            {% if loop.index0 == 0 %}
              <li data-target="#index-poster" data-slide-to="{{ loop.index0 }}" class="active"></li>
            {% else %}
              <li data-target="#index-poster" data-slide-to="{{ loop.index0 }}"></li>
            {% endif %}
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for poster in posters %}
            {% if loop.index0 == 0 %}
              <div class="item active">
                <a href="{{ poster.link }}" target="_blank"><img src="{{ file_url(poster) }}" alt="..."></a>
                <div class="carousel-caption">
                </div>
              </div>
            {% else %}
              <div class="item">
                <a href="{{ poster.link }}" target="_blank"><img src="{{ file_url(poster) }}" alt="..."></a>
                <div class="carousel-caption">
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#index-poster" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#index-poster" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="col-sm-12" style="margin-top: 10px;">
        <div class="index-block">
          <div class="block-header">
            <span class="block-title" style="font-weight: bold">近期新闻</span>
            <span class="pull-right"><a href="{{ url_for('main.news_list') }}">更多>></a></span>
          </div>
          {% if recent_news != [] %}
            <ul class="recent_news">
              {% for news in recent_news %}
                <li><i class="fa fa-angle-right news-angle"></i>
                  <a href="{{ url_for('main.news', p=news.id) }}" title="{{ news.title }}">{{ news.title }}
                  </a>
                  <span class="pull-right">[{{ news.last_update_time.strftime('%Y-%m-%d') }}]</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="col-sm-12">
        <div class="index-button">
          <a class="btn btn-lg btn-block text-center" href="{{ url_for('main.competition_join', year=cur_year) }}">
            <i class="fa fa-flag"></i> 校赛报名入口</a>
        </div>
        <div class="index-block" style="min-height: 190px;">
          <div class="block-header">
            <span class="block-title" style="font-weight: bold">近期比赛</span>
          </div>
          {% if recent_contests != [] %}
            <ul class="recent_news">
              {% for name, link in recent_contests %}
                <li><i class="fa fa-angle-right"></i>
                  <a href="{{ link }}" title="{{ name }}">{{ name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-12">
      <div class="index-block">
        <div class="block-header">
          <span class="block-title" style="font-weight: bold">推荐网站</span>
        </div>
        <ul class="recent_news">
          {% for name, url in recommend_site.items() %}
            <li><i class="fa fa-angle-right"></i> <a href="{{ url }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  </div>

  <footer class="footer">
    <p>Copyright &copy; 2015. | Powered by CUIT ACM Team</p>
  </footer>

</div>
<!-- /container -->

<script src="{{ url_for('static', filename='AdminLTE2/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='fakeLoader/fakeLoader.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/dist/js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/fastclick/fastclick.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#fakeLoader").fakeLoader({
      timeToHide: 600,
      spinner: "spinner1",
      bgColor: "#3c8dbc"
    });
  });
</script>
</body>
</html>
