{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='AdminLTE2/plugins/datatables/dataTables.bootstrap.css') }}"/>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-offset-1 col-sm-10">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-info"></i> <span>队员去向</span></h3>
    </div>
    <div class="box-body no-padding">
      <table id="members_table" class="table table-bordered table-hover" width="100%"
             style="margin-top: 0 !important;font-weight: 600;">
        <thead>
        <tr><th width="10%">姓名</th><th width="15%">院系</th><th width="10%">年级</th><th>经历与去向</th></tr>
        </thead>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='AdminLTE2/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
  $(document).ready(function () {
    var json_url = "{{ url_for('ajax.members') }}";
    $('#members_table').DataTable({
      "dom": "t<'row'<'col-md-12'<'col-md-4'i><'col-md-8'p>>>",
      "ajax": json_url,
      "searching": false,
      "lengthChange": false,
      "pageLength": 15,
      "columns": [
        {"data": "name"},
        {"data": "college"},
        {"data": "grade"},
        {"data": "situation"}
      ],
      "order": [[2, 'asc']]
    });
  });
</script>
{% endblock %}