{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='highlight/monokai_sublime.css') }}"/>
{% endblock %}

{% block content %}
  <div class="row">
    {% if not news %}
      <div class="col-sm-offset-1 col-sm-10 text-center">
        <h1>无新闻</h1>
      </div>
    {% endif %}
    <div class="col-sm-offset-1 col-sm-7">
      <div class="box box-primary news-box">
        <div class="box-header with-border">
          <h2 class="box-title">新闻</h2>
        </div>
        <div class="box-body">
          <ul class="news-list">
            {% for one in news %}
              <li class="news-item">
                <i class="fa fa-angle-right"></i>
                <a href="{{ url_for('main.news', url=one.url) }}" class="news-title">
                  {% if one.is_top %}
                    <span class="text-red text-bold">[置顶]</span>
                  {% endif %}
                  {{ one.title }}
                </a>
            <span class="news-date">
              <i class="fa fa-calendar"></i> {{ one.last_update_time.strftime('%Y-%m-%d') }}
            </span>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="box-footer">
          {% if news %}
            <nav>
              <ul class="pager">
                {% if page > 0 %}
                  <li class="previous"><a href="{{ url_for('main.news_list', page = page - 1) }}"><span
                          aria-hidden="true">&larr;</span> 上一页</a></li>
                {% endif %}
                {% if page * limit + limit < sum %}
                  <li class="next"><a href="{{ url_for('main.news_list', page = page + 1) }}">下一页 <span
                          aria-hidden="true">&rarr;</span></a></li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>

      </div>

    </div>
    <div class="col-sm-3">
      {% if recent_news != [] %}
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">近期新闻</h3>
          </div>
          <div class="box-body no-padding">
            <ul class="recent_articles">
              {% for news in recent_news %}
                <li><i class="fa fa-angle-right"></i> <a
                        href="{{ url_for('main.news', p=news.id) }}">{{ news.title }}</a></li>
              {% endfor %}
            </ul>

          </div>
        </div>
      {% endif %}
      {% if tags != [] %}
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title"> 标签云</h3>

            <div class="box-tools pull-right">
              <a class="btn btn-link btn-sm" href="{{ url_for('main.news_archive') }}">新闻存档 >></a>
            </div>
          </div>
          <div class="box-body no-padding">
            <div class="tags_cloud">
              {% for tag in tags %}
                <a href="{{ url_for('main.news_archive', tag=tag.name) }}" class="tag">
                  {{ tag.name }} <span>{{ tag.news.count() }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    function gaoTags() {
      var colors = [
        '#3c8dbc', '#357ca5', '#00c0ef', '#00a7d0',
        '#00a65a', '#008d4c', '#f39c12', '#db8b0b',
        '#dd4b39', '#d33724', '#39cccc', '#30bbbb',
        '#001f3f', '#001a35', '#605ca8', '#555299',
        '#ff851b', '#ff7701', '#d81b60', '#ca195a',
        '#111', '#000'
      ];
      $(".tags_cloud a").each(function () {
        var $tag = $(this);
        $tag.css('color', colors[parseInt(Math.random() * colors.length, 10)]);
        $tag.css('font-size', parseInt(Math.random() * 16 + 14) + 'px');
        var opacity = Math.random();
        if (opacity <= 0.5) opacity = opacity + 0.5;
        //$tag.css('opacity', opacity);
      });
    }
    function make_lightbox() {
      $('.article-body img').each(function () {
        var $fa = $(this).closest('.article-body');
        var href = $(this).attr('src');
        $(this).wrap('<a></a>').parent().attr({
          'href': href,
          'data-lightbox': 'news' + $fa.data('news'),
          'data-title': $fa.data('title')
        });
      });
    }
    $(document).ready(function () {
      gaoTags();
      make_lightbox();
    });
  </script>
{% endblock %}