{% extends "index/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='highlight/monokai_sublime.css') }}"/>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row index-info">
      <div class="col-sm-5">
        <div>
          <h3>最近新闻</h3>
          <div class="pull-right more-link">
            <a class="btn btn-link" href="{{ url_for('main.news_list') }}">更多新闻 >></a>
          </div>
        </div>
        {% for news in recent_news %}
          <p class="leading"><i class="fa fa-link"></i> <a href="{{ url_for('main.news', url=news.url) }}">{{ news.title }}</a></p>
        {% endfor %}
      </div>
      <div class="col-sm-offset-1 col-sm-5">
        <div>
          <h3><b>校队简介</b></h3>
            <p>2011年，团队在软件工程学院院长舒红平，软件工程学院党委书记朱毅的领导下，在学校教务处的支持下成立，由软件工程学院教师杜晓宇任教练，在集结了18名同学后，初步建立。在成立的第一年起，就顺利的夺得现场赛资格。在2012年的ACM四川省赛中，夺得了一等奖1队，二等奖2队的好成绩，也被赋予“优秀组织奖”荣誉。在3年的比赛中，共夺得亚洲区奖项12项，省级奖项15项，并于2013年11月，在ACM-ICPC亚洲区赛长沙站夺得我校第一块铜奖，实现了我校奖牌零突破。</p>
        </div>
      </div>
    </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  function gaoTags() {
    var colors = [
      '#3c8dbc', '#357ca5', '#00c0ef', '#00a7d0',
      '#00a65a', '#008d4c', '#f39c12', '#db8b0b',
      '#dd4b39', '#d33724', '#39cccc', '#30bbbb',
      '#001f3f', '#001a35', '#605ca8', '#555299',
      '#ff851b', '#ff7701', '#d81b60', '#ca195a',
      '#111', '#000'
    ];
    $(".tags_cloud a").each(function(){
      var $tag = $(this);
      $tag.css('color', colors[parseInt(Math.random() * colors.length, 10)]);
      $tag.css('font-size', parseInt(Math.random() * 16  + 14) + 'px');
      var opacity = Math.random();
      if (opacity <= 0.5) opacity = opacity + 0.5;
      //$tag.css('opacity', opacity);
    });
  }
  function make_lightbox() {
    $('.article-body img').each(function() {
      var $fa = $(this).closest('.article-body');
      var href = $(this).attr('src');
      $(this).wrap('<a></a>').parent().attr({
        'href': href,
        'data-lightbox':'news' + $fa.data('news'),
        'data-title':  $fa.data('title')
      });
    });
  }
  $(document).ready(function(){
    gaoTags();
    make_lightbox();
  });
</script>
{% endblock %}