<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  {% if title -%}
    <title>{{ title }} - CUIT ACM Team</title>
  {%- else -%}
    <title>CUIT ACM Team</title>
  {%- endif %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/bootstrap/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/dist/css/AdminLTE.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/square/blue.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='fakeLoader/fakeLoader.css') }}"/>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {%- block head -%}{%- endblock -%}
  <style>
    @media (max-width: 768px) {
      .login-box {
        width: 90% !important;
      }
    }
  </style>
</head>
<body class="login-page" style="background-color: #333;">
<div id="fakeLoader"></div>
<div class="login-box" style="width: 720px">
  <div class="login-logo" style="font-size: 45px">
    <a href="{{ url_for('main.index') }}" style="color: #eee;">CUIT <b>ACM</b> Team</a>
  </div>
  <div class="login-box-body">
    <form id="registerForm" method="post" action="{{ url_for('main.join_us') }}">
      {{ join_form.hidden_tag() }}
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group has-feedback">
            {{ join_form.username(class='form-control required', id="inputUsername", placeholder="用户名") }}
            <span class="fa fa-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{ join_form.password(class='form-control required', id="inputPassword", placeholder="密码") }}
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{ join_form.password2(class='form-control required', id="inputPassword2", placeholder="验证密码") }}
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{ join_form.phone(class='form-control', id="inputPhone", placeholder="手机号码") }}
            <span class="fa fa-phone form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{ join_form.email(class='form-control', id="inputEmail", placeholder="邮箱") }}
            <span class="fa fa-envelope-o form-control-feedback"></span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group has-feedback">
            {{ join_form.name(class='form-control required', id="inputName", placeholder="真实姓名") }}
            <span class="fa fa-male form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            {{ join_form.college(class='form-control required', id="inputCollege", placeholder="学院") }}
          </div>
          <div class="form-group has-feedback">
            {{ join_form.grade(class='form-control required', id="inputGrade", placeholder="年级") }}
          </div>
          <div class="form-group has-feedback">
            {{ join_form.stu_id(class='form-control required', id="inputStuid", placeholder="学号") }}
            <span class="fa fa-university form-control-feedback"></span>
          </div>
          <div class="form-group">
            <div class="form-control">
              {%- for sub in join_form.gender %}
                <label class="radio-inline">
                  {{ sub }}
                  {{ sub.label(style='margin-left:10px;') }}
                </label>
              {%- endfor %}
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group has-feedback">
            {{ join_form.apply_reason(class='form-control required', rows="6", style="resize:none;", id="inputReason",
                       placeholder="申请理由")}}
          </div>
          <div class="form-group">
             {{ join_form.submit(class='btn btn-primary btn-block btn-flat') }}
          </div>
        </div>
      </div>
      {%- with messages = get_flashed_messages() -%}
        {%- if messages -%}
          <div class="alert alert-danger" style="margin: 20px auto 5px auto">
            <button type="button" class="close">&times;</button>
            <ul class="list-unstyled">
              {%- for message in messages -%}
                <li style="font-size: 1.1em">{{ message }} </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endwith -%}
    </form>
  </div>
</div>
<!-- /container -->
<script src="{{ url_for('static', filename='AdminLTE2/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='fakeLoader/fakeLoader.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/icheck.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tools.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#fakeLoader").fakeLoader({
      timeToHide: 500,
      spinner: "spinner1",
      bgColor: "#333"
    });
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
    $("button.close").click(function () {
      $(".alert").slideUp();
      return false;
    });
    $('form').hide().slideDown(1200);
    $('#registerForm').submit(function () {
      var name_field = $('#inputUsername');
      var pwd_field = $('#inputPassword');
      var pwd2_field = $('#inputPassword2');
      var email_field = $('#inputEmail');
      var phone_field = $('#inputPhone');
      var stuid_field = $('#inputStuid');
      var apply_reason_field = $('#inputReason');
      return requiredCheck(name_field, '用户名')
              && requiredCheck(pwd_field, '密码')
              && requiredCheck(pwd2_field, '验证密码')
              && requiredCheck(email_field, '邮箱')
              && requiredCheck(phone_field, '手机号码')
              && requiredCheck(stuid_field, '学号')
              && requiredCheck(apply_reason_field, '申请理由');
    });
  });
</script>
</body>
</html>