{% extends "index/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='highlight/github.css') }}"/>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> 信息</h3>
      </div>
      <div class="box-body no-padding">
        <table class="table code-info">
          <tr><td>用户名</td>
            <td><a href="{{ url_for('profile.index',username=submit.user.username) }}"
                              target="_blank">{{ submit.user.name }}</a></td>
          </tr>
          <tr><td>OJ</td><td>{{ oj_mapper[submit.oj_name] }}</td></tr>
          <tr><td>题目 ID</td><td>{{ submit.pro_id }}</td></tr>
          <tr><td>Result</td><td>{{ submit.result }}</td></tr>
          <tr><td>Language</td><td>{{ submit.lang }}</td></tr>
          <tr><td>Run Time</td><td>{{ submit.run_time }} MS</td></tr>
          <tr><td>Memory</td><td>{{ submit.memory }} KB</td></tr>
          <tr><td>Submit Time</td><td>{{ submit.submit_time }}</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div id="codeBlock" class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-code"></i> Show Code</h3>
      </div>
      <div class="box-body no-padding">
        <pre class="code"><code>{{ submit.code }}</code></pre>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.configure({
        tabReplace: '    '
      });
      hljs.highlightBlock(block);
    });
  });

</script>
{% endblock %}