{% extends "index/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='highlight/github.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}"/>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-1 col-md-3">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> 信息</h3>
      </div>
      <div class="box-body no-padding">
        <table class="table code-info">
          <tr><td>用户名</td>
            <td><a href="{{ url_for('profile.index',username=submit.user.username) }}"
                              target="_blank">{{ submit.user.name }}</a></td>
          </tr>
          <tr><td>OJ</td><td>{{ oj_mapper[submit.oj_name] }}</td></tr>
          <tr><td>题目 ID</td><td>{{ submit.pro_id }}</td></tr>
          <tr><td>Result</td><td>{{ submit.result }}</td></tr>
          <tr><td>Language</td><td>{{ submit.lang }}</td></tr>
          <tr><td>Run Time</td><td>{% if submit.run_time != -1 %} {{submit.run_time }} {% else %} {{ "UNKNOWN" }} {% endif %}MS</td></tr>
          <tr><td>Memory</td><td>{% if submit.memory != -1 %} {{submit.memory }} {% else %} {{ "UNKNOWN" }}{% endif %} KB</td></tr>
          <tr><td>Submit Time</td><td>{{ submit.submit_time }}</td></tr>
        </table>
      </div>
    </div>
      <div class="box box-default">
        <div class="box-header">
          <h3 class="box-title">相关题解</h3>
            <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body no-padding">
          <ul class="recent_articles">
          </ul>
            <div class="pull-right">
            <div class="btn-group">
              <button class="btn btn-default btn-sm prev-page"><i class="fa fa-chevron-left"></i></button>
              <button class="btn btn-default btn-sm next-page"><i class="fa fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-7">
    <div id="codeBlock" class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-code"></i> Show Code</h3>
      </div>
      <div class="box-body no-padding">
        <pre class="code"><code>{{ submit.code }}</code></pre>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script type="text/javascript">

    function get_related_article_list(offset, limit) {
    var data = {submit_id: {{ submit.id }},offset: offset, limit: limit };
    $.post("{{ url_for('ajax.get_related_article') }}", data).success(function(ret) {
      var article_count = ret.sum;
      var start = ret.offset;
      var length = ret.limit;
      var article_list = ret.article_list;
      var $list_table = $('.recent_articles').first();
      $list_table.empty();
      if (length == 0) {
        $list_table.parent().parent().hide();
      } else {
        for (var i = 0; i < length; ++i) {
          $list_table.append(article_list[i]);
        }
      }
      var prev = $('.prev-page');
      var next = $('.next-page');
      if (start == 0) {
        prev.hide();
      } else {
        prev.show();
        prev.val(start - limit);
      }
      if (article_count == start + length) {
        next.hide();
      } else {
        next.show();
        next.val(start + length);
      }
    }).error(function() {
        var $list_table = $('.list-table-body').first();
        $list_table.empty();
        $list_table.append('<li><h2>加载失败</h2></li>');
        $('.prev-page').hide();
        $('.next-page').hide();
      });
    }

  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.configure({
        tabReplace: '    '
      });
      hljs.highlightBlock(block);
    });
        var limit = 10;
        get_related_article_list(0, limit);
        $('.prev-page').click(function() {
          var offset = parseInt($(this).val());
          get_related_article_list(offset, limit);
        });
        $('.next-page').click(function() {
          var offset = parseInt($(this).val());
          get_related_article_list(offset, limit);
        });
  });

</script>
{% endblock %}