.article-box {
  position: relative;
  border: solid 1px #ccc;
  border-radius: 0.3em;
  padding: 1.2em;
  margin-bottom: 2.3em;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(200,200,200,0.1);
}

.article-header {
  margin: 0.2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.article-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0.1em 1em 0.5em 0.2em;
  word-wrap: break-word;
  word-break: break-all;
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei,
    Verdana, Aril, sans-serif;
}
.article-title a {
  color: #333;
}
.article-title a:hover {
  color: #3c8dbc;
}

.article-meta {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
  font-size: 0.8em;
}
.article-body {
  padding: 0.2em 0.8em 0.8em;
  word-break: break-all;
  text-overflow: ellipsis;
  color: #333;
  font-weight: 400;
}
.article-body p {
}
.article-body img {
  max-width: 80%;
  border: solid 1px #999;
  box-shadow: 1px 2px 1px #ccc;
}
.article-body a:hover {
  color: #fff;
  background-color: #333;
}
.article-body pre {
  padding: 5px;
  background-color: #f9f9f9 !important;
  box-shadow: 1px 1px 1px #ccc;
}
.article-body table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px auto 20px auto;
  border: 1px solid #ddd;
  display: table;
}
.article-body table th,
.article-body table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border: 1px solid #ddd;
  display: table-cell;
}
.article-body table th:first-child,
.article-body table td:first-child {
  white-space: nowrap;
}
.article-body table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  line-height: 1.42857143;
}
.article-body table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.shortcut img {
  max-height: 150px !important;
}

.article-more-link {
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 10px;
  line-height: 1em;
  font-size: 12px;
}

.article-footer {
  border-top: solid 1px #ccc;
  text-decoration: none;
  letter-spacing: 2px;
  color: #777;
  margin: 1em;
  padding-left: 10px;
  padding-top: 1em;
  margin-left: 5px;
  line-height: 1em;
  font-size: 8px;
}
.article-footer span {
  line-height: 2em;
  display: inline;
}
.article-footer a {
  color: #777;
  font-weight: 500 !important;
}
.article-footer a:hover {
  color: #fff;
  background-color: #3c8dbc;
  font-weight: normal;
}

.recent_articles {
  list-style: none;
  padding: 2px 20px !important;
  font-size: 14px;
  margin-top: 4px;
  text-overflow: ellipsis;
}
.recent_articles li {
  font-size: 16px;
  margin: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recent_articles li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.1em 0.5em;
}
.recent_articles li a:hover {
  color: #222;
  text-shadow: 1px 1px 1px #aaa;
}
.recent_articles li .fa {
  font-size: 0.8em;
}

/*
** Archive
*/
.archive-list {
  width: 80%;
  margin: auto auto;
  position: relative;
  border: solid 1px #ccc;
  border-radius: 0.3em;
  padding: 1.2em;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.archive-list ul {
  list-style: none;
}
.archive {
  width: 90%;
  position: relative;
  padding: 1.2em;
  margin: 2.3em auto;
}
.archive-year {
  margin-left: 25px;
  font-size: 4em;
  font-weight: bold;
  color: #333;
  text-shadow: 2px 1px #aaa;
}
.archive-row {
  margin: 10px auto 4px auto;
}
.archive-date {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  text-shadow: 0 1px #eee;
  font-weight: bold;
  font-size: 18px;
}
.archive-title {
  margin-left: 20px;

  text-decoration: none;
  font-weight: bold;
  color: #258fb8;
  font-size: 18px;
}
.archive-line {
  padding: 0 50px 0 40px;
  border-bottom: dashed 2px #aaa;
}

.tags_cloud {
  padding: 10px;
  word-break: normal;
  word-spacing: 0.1em;
}

.tags_cloud a {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 5px;
  font-weight: 500;
  border-radius: 3px;
}
.tags_cloud a:hover {
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.2);
  color: #fff !important;
  background-color: #367fa9 !important;
}
.tags_cloud a span {
  vertical-align: super;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-decoration: none !important;
}
.tags_cloud a:hover span {
  color: #fff !important;
}

.box-tools .btn-link {
  color: #333;
}
.box-tools .btn-link:hover {
  color: #258fb8;
  font-weight: bold;
  text-decoration: none;
}

.filter-row {
  margin-bottom: 2em;
}

#tagCanvas {
  height: 100%; width: 100%;
}

.news-box .box-title {
  font-size: 1.8em !important;
  font-weight: bold !important;
}
.news-list {
  list-style: none;
  padding-left: 5px;
}

.news-list .news-item {
  font-size: 1.1em;
  margin: 10px;
  clear: both;
  border-bottom: 2px dashed #c5c5c5;
}

.news-list .news-item .news-title {
  color: #222;
  font-size: 1.2em;
  font-weight: 600;
}
.news-list .news-item .news-title:hover {
  color: inherit;
  font-weight: bold;
  text-shadow: 1px 1px 1px #aaa;
}

.news-list .news-date {
  float: right;
  color: #555;
  font-size: 1em;
  font-weight: 600;
  font-family: "Consolas", sans-serif;
  vertical-align: middle;
  padding-top: 0.1em;
}

.news-box .box-footer {
  padding: 3px 10px;
}

.news-box .pager {
  margin: 5px 0 !important;
}

.news-box .pager li {
  font-weight: 600 !important;
}
