.table-no-border td {
  border-top: none!important;
}

.navbar-nav > li.active {
    background-color: #367fa9;
}
#search_filter {
  margin-bottom: 15px;
  padding: 8px 2px;
  border-top: 3px solid #3c8dbc;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#search_filter .control-label {
  margin: 0 5px;
}

#search_filter .form-filter {
  margin: 0 5px;
}

#search_filter input[id='pid'],
#search_filter input[id='uid'] {
  width: 120px !important;
}

#search_filter .form-submit {
  padding: 5px;
  margin-left: 10px;
}

#status_data_table {
  margin-top: 0 !important;
}

.radio-inline, .checkbox-inline {
  padding-left: 2px !important;
}
.required-star {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}
.user-panel {
  height: 90px;
}
.user-panel .image img {
  max-width: 58px !important;
  padding: 10px 0;
}
.user-panel .info {
  left: 70px;
}
.user-panel .user-name {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 15px !important;
}
.user-panel .user-type {
  font-size: 12px !important;
  font-weight: normal;

}
/* Back to top */

.back_to_top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../image/back-to-top.png) no-repeat;
    background-size: 40px 40px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.back_to_top.visible {
    visibility: visible;
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.back_to_top.fade_out {
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.back_to_top:hover {
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

/*
** List Box CSS
*/

.list-box td, .list-box th {
  vertical-align: middle !important;
  text-align: center;
}
.list-box th {
  color: #888;
  text-shadow: 0 1px #fff;
}
.list-box-controls {
  padding: 5px 10px;
}
.list-item-check {
  width: 6%;
}
.list-item-face {
  width: 10%;
}
.list-item-face img {
  width: 50px;
  border-radius: 50%;
}
.list-item-title {
  width: 36%;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-all;
}
.list-item-name {
  width: 10%;
}
.list-item-type {
  width: 25%;
}
.list-item-type .label {
  display: inline-block;
  margin: 0 2px;
  font-weight: 200 !important;
}
.list-item-email {
  width: 24%;
}
.list-item-school {
  width: 20%;
}
.list-item-time {
  width: 20%;
  font-size: 16px;
}

.account-item td {
  min-height: 82px;
}
.list-item-oj {
  padding: 8px 3px !important;
  width: 20%;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.1);
}
.list-item-oj p {
  padding: 0;
  margin: 0;
  line-height: 1em;
}
.oj-nickname {
  font-size: 14px;
  display: inline-block;
}
.list-item-status {
  width: 20%;
  font-size: 20px;
}
.list-item-info {
  width: 25%;
  padding: 0 !important;
}
.list-item-info p {
  padding: 0 !important;
  margin: 0 !important;
}
.info-text {
  color: #555;
  padding-right: 10px;
}
.list-item-info .info-num {
  text-align: center;
  padding: 3px;
  font-size: 24px;
  font-weight: 500;
}
.list-item-op {
  padding: 0 !important;
  width: 3%;
}

.list-item-filename {
  font-weight: 700;
  width: 15%;
}
.list-item-filename p {
  margin-bottom: 5px;
}

.list-item-user {
  width: 6%;
}
.list-item-rights {
  width: 12%;
}
.list-item-rights .label {
  display: inline-block;
}
.list-item-size {
  font-weight: 500;
  width: 8%;
}
.list-item-description {
  width: 25%;
}
.list-item-contest-name {
  width: 30%;
  font-size: larger;
  font-weight: 600;
}
.list-item-level {
  width: 15%;
}
.list-item-users {
  width: 15%;
}
.list-item-users .label {
  display: inline-block;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc !important;
  border-color: #367fa9!important;
  padding: 1px 10px!important;
  color: #fff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  padding-right: 3px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff !important;
  padding-right: 3px;
}

.index-poster {
  margin: 5px 0;
  border: 2px solid #fff;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 1px 2px 2px #ccc;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.index-poster:hover {
  border: 2px solid #367fa9;
  box-shadow: 2px 1px 1px #ddd;
  margin-left: -20px;
  cursor: default;
}

.index-poster:hover img {
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: default;
}

.index-poster img {
  width: 100%;
}

.index-poster .fa-plus {
  font-size: 3.2em;
  width: 100%;
}

.index-poster .opt-btn {
  display: none;
  position: absolute;
  width: 80%;
  right: 10%;
  bottom: 12%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.index-poster:hover .opt-btn {
  display: block;
  position: absolute;
  width: 80%;
  right: 10%;
  bottom: 15%;
  cursor: pointer;
  margin-left: -20px;
}

.index-poster .opt-btn .label {
  display: inline-block;
  font-size: 1.2em;
  padding: 5px auto;
  text-align: center !important;
  vertical-align: middle !important;
}

/*
 * Apply Management
 */
.apply-box .thumbnail {
  padding: 0 !important;
}

.apply-box h2 {
  margin-top: 5px;
  text-shadow: 0 1px 1px #777;
}

.apply-box .apply-face {
  height: 32px;
  vertical-align: top;
  box-shadow: 0 1px 1px #999;
}

.apply-box p {
  margin-bottom: 2px;
  text-shadow: 0 0 1px #aaa;
  word-wrap: break-word;
  word-break: break-all;
}
.apply-box p .fa {
  margin-right: 5px;
}

.apply-box .apply-reason {
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #eee;
  padding: 4px;
}

