.table-no-border td {
  border-top: none!important;
}

.navbar-nav > li.active {
    background-color: #367fa9;
}

#search_filter .form-filter {
  margin: 0 5px;
}
#search_filter .control-label {
  margin: 0 10px;
}
#search_filter .form-submit {
  margin-left: 30px;
}
/* Back to top */

.back_to_top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../image/back-to-top.png) no-repeat;
    background-size: 40px 40px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.back_to_top.visible {
    visibility: visible;
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.back_to_top.fade_out {
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.back_to_top:hover {
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}


/* user-summary */

#user-summary {
    margin: 10px 15% 10px 15%;
}

#user-summary .face {
    margin-top: 10px;
    width: 190px;
}

#user-summary .body {
    margin-left: 250px;
}

#user-summary .info-list li {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 1.1em;
    margin-top: 5px;
}

#user-summary .info-list i {
    margin-right: 10px;
}
#user-summary .btn {
    margin-right: 10px;
}

#user-status {
    clear: both;
    margin: 10px 15% auto 15%;
}
#user-status .oj-status {
    min-width: 300px;
    margin: 10px 10px 10px auto;
}

.sChart {
    display: block;
    margin: 10px auto;
}

#user-status .specInfo {
    display: block;
    margin: 15px auto;
    text-align: center;
}

#add-oj-form {
    margin-top: 20px;
}

#add-oj-form #SubmitButton {
    display: block;
    margin: 5px auto 5px auto;
    width: 120px;
}

/* View Code */

pre {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    border: 1px dashed #e5e5e5;
}
