/*
** Book List
*/
.book-grid {
    width: 180px;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #f2f2eb;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.book-cover {
    width: 150px;
    margin: 0 auto 5px auto;
    display: block;
    box-shadow: 1px 1px 2px #aaa;
}
.book-cover img {
    max-width: 100%;
}
.book-title {
    color: #3c8dbc;
    font-size: 1.4em;
    margin: 0;
    padding: 5px 5px;
    text-shadow: 0 1px #ccc;
}
.book-grid a, .book-grid a:visited {
    text-decoration: none;
    color: inherit;
}
.book-grid a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #3c8dbc;
}
.book-line {
    margin-top: 0.4em;
    border-bottom: solid 2px #ccc;
}
.book-status {
    color: #000000;
    text-shadow: 0 2px #eee;
}
.book-footer {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    line-height: 1em;
    font-size: 8px;
}
.footer-table {
    margin: 5px auto;
}
.footer-table td {
    border-top: none!important;
    line-height: 0.8em!important;
}

.book-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 50px;
    height: 100%;
    width: 200px;
    z-index: 810;
    background-color: #262a30;
    border-right: 1px solid #e5e5e5;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
}