/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }

}

.project-name {
  font-size: 36px;
}

.nav-pills>li>a,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
  border-radius: 0;
  background-color: transparent;
}
.nav-pills>li:hover {
  border-bottom: 4px solid #337ab7;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #337ab7;
  font-weight: 900;
  background-color: transparent;
}

.nav-pills>li.active,
.nav-pills>li.active:hover,
.nav-pills>li.active:focus {
  border-bottom: 4px solid #337ab7;
}
