/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #fff;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
body>.container {
  margin-top: 70px;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 840px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}


.recent_news {
  list-style: none;
  padding-left: 5px;
}

.recent_news li {
  margin: 7px 0;
}
.recent_news a {
  color: #222;
}

.recent_news a:hover,
.recent_news a:focus {
  color: #337ab7;
  font-weight: bold;
  text-decoration: none;
}

.index-block {
  border-top: 4px solid #367fa9;
}
.index-block > .block-header {
  margin: 10px 0;
  margin-bottom: 15px;
}
.index-block > .block-header a {
  color: #222;
}
.index-block > .block-header a:hover {
  color: #367fa9;
  font-weight: bolder;
}

.index-block .block-title {
  color: #fff;
  background-color: #367fa9;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: 900;
}