
.md-editor>.md-preview img{
  max-width: 80%;
  border: solid 1px #999;
  box-shadow: 1px 2px 1px #ccc;
}

.modal .nav-tabs-custom {
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

.img-choose-box {
  overflow: auto;
  margin: auto 0 !important;
}

.res-item,
.img-item {
  padding: 5px !important;
  border: solid 1px transparent;
  border-radius: 5px;
  background-color: transparent;
  float: left;
}

.res-item .thumbnail:before {
  content: "\2714";
  display: block;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #3c8dbc;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 10;
  opacity: 0;
  transition:         0.3s linear;
  -o-transition:      0.3s linear;
  -ms-transition:     0.3s linear;
  -moz-transition:    0.3s linear;
  -webkit-transition: 0.3s linear;
  -o-user-select:      none;
  -moz-user-select:    none;
  -webkit-user-select: none;
  cursor: pointer;
}
.selected .thumbnail:before {
  opacity: 1;
}

.selected .thumbnail,
.img-item:hover .thumbnail {
  border: solid 1px #3c8dbc;
  background-color: #3c8dbc;
  box-shadow: 1px 3px 3px #eee;
  cursor: pointer;
}

.thumbnail {
  margin-bottom: 0 !important;
}
.img-responsive {
  height: 0;
  max-width: 100%;
  padding-bottom: 50%;
  background-color: #fff;
  overflow: hidden;
}
.img-responsive img {
  width: 100%;
  box-shadow: 1px 2px 2px #ccc;
  cursor: pointer;
  animation:        unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-animation:     unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-animation:    unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-animation:   unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -webkit-animation: unselected 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.file-icon {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
  box-shadow: 1px 1px 1px #ccc;
}
.file-icon .fa {
  font-size: 5em;
}
.caption {
  background-color: #fff;
  word-wrap: break-word;
  word-break: break-all;
}

.img-choose-box  .overlay {
  position: absolute;
  left: 0; right: 0;
  top: 45px; bottom: 50px;
  width: 100%;
  margin: auto 0 !important;
  padding: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}
.img-choose-box .overlay .fa {
  font-size: 36px;
  position: absolute;
  top: 40%;
  left: 45%;
}
.pager a:hover {
  font-weight: 700;
  color: #fff;
  background-color: #3c8dbc !important;
}

.button-label {
  margin-top: 10px;
  text-align: center;
}

.nothing {
  text-align: center;
}

.badge {
  font-weight: 500;
  padding: 3px 10px 7px 10px;
}

.res-name {
  overflow: hidden !important;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space:nowrap;
}


/*
 * Honor
 */

.filter-row {
  margin-bottom: 20px;
}
.filter-row h2 {
  margin-top: 0;
}
.filter-row .refresh {
  margin-left: 20px;
  margin-right: 10px;
}
.filter-row .btn-primary:hover {
  border-color: #367fa9;
}

.honor-year h1 {
  padding-left: 15px;
  font-weight: 900;
  font-size: 40px !important;
}
.honor-one {
  margin-bottom: 20px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.honor-wall .honor-one:hover {
  -moz-box-shadow: 0 0 2px 2px #3a87ad;
  -webkit-box-shadow: 0 0 2px 2px #3a87ad;
  box-shadow:0 0 2px 2px #3a87ad;
  cursor: pointer;
}

.honor-box {
  float: left;
}

.honor-one .thumbnail {
  /*border: 1px solid #bbb;*/
  border-bottom: none;
  padding: 0;
}
.honor-one .contest-name {
  font-size: 1.2em;
  word-break: break-all;
  word-wrap: break-word;
}
.thumbnail > .contest-name {
  margin-bottom: 0 !important;
  padding: 8px 5px 3px 8px;
}

.honor-one .contest-level,
.honor-one .contest-time {
  color: #666;
  margin-bottom: 3px;
}
.honor-one .team-name {
  color: #666;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 0;
}
.caption .fa {
  margin-right: 6px;
}

.honor-one .tacker {
  padding: 8px 5px 10px 5px;
  clear: both;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.honor-wall .honor-one .tacker {
  border-top: 1px solid #fff;
  background-color: #fff;
}
.honor-one .tacker p {
  margin-bottom: 0;
}
.honor-one .tacker .label {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}
.honor-one .poster {
  border-bottom: 1px solid #ddd;
}

.slider-wrapper {
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

