{% extends "admin/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/square/blue.css') }}"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-user-plus"></i> <span>添加用户</span></h3>
        </div>
        <form id="registerForm" method="post" class="form-horizontal">
          <div class="box-body">
            {{ register_form.hidden_tag() }}
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputUsername"><span class="required-star">* </span>昵称</label>
                <div class="col-sm-8">
                  {{ register_form.username(class='form-control required', id="inputUsername", placeholder="昵称") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputName"><span class="required-star">* </span>真实姓名</label>
                <div class="col-sm-8">
                  {{ register_form.name(class='form-control required', id="inputName",  placeholder="真实姓名") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputPassword"><span class="required-star">* </span>密码</label>
                <div class="col-sm-8">
                  {{ register_form.password(class='form-control required', id="inputPassword", placeholder="密码") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputPassword2"><span class="required-star">* </span>验证密码</label>
                <div class="col-sm-8">
                  {{ register_form.password2(class='form-control required', id="inputPassword2", placeholder="验证密码") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3"><span class="required-star">* </span>性别</label>
                <div class="col-sm-8">
                  {%- for sub in register_form.gender %}
                    <label class="radio-inline">
                      {{ sub }}
                      {{ sub.label(style='margin-left:10px;') }}
                    </label>
                  {%- endfor %}
                </div>
            </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputSchool"><span class="required-star">* </span>学校</label>
                <div class="col-sm-8">
                  {{ register_form.school(class='form-control required', id="inputSchool", placeholder="学校") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputEmail">
                  邮箱</label>
                <div class="col-sm-8">
                  {{ register_form.email(class='form-control', id="inputEmail", placeholder="邮箱") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputSno">学号</label>
                <div class="col-sm-8">
                  {{ register_form.stu_id(class='form-control', id="inputSno", placeholder="学号") }}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="inputPhone">手机号码</label>
                <div class="col-sm-8">
                  {{ register_form.phone(class='form-control', id="inputPhone", placeholder="手机号码") }}
                </div>
              </div>
              <div class="form-group">
              <label class="control-label col-sm-3" for="inputRights"><span class="required-star">* </span>权限</label>
                <div class="col-sm-8">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inputRights" name="rights" value=2>
                    <span class="label label-success" style='margin-left:10px;'>教练</span>
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="inputRights" name="rights" value=1>
                    <span class="label label-primary" style='margin-left:10px;'>学生</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="alert alert-danger col-sm-offset-3 col-sm-6" id="add-info" style="display: none;margin-top: 20px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <span id="add-info-text"></span>
            </div>
          </div>
          <div class="box-footer text-center no-padding">
            {{ register_form.submit(class='btn btn-primary btn-flat btn-block', value='提交') }}
          </div>
        </form>
      </div>
  <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-user-plus"></i> <span>批量添加用户</span></h3>
        </div>
        <form id="multiRegForm" method="post" class="form-horizontal">
          <div class="box-body">
              {{ multi_reg_form.hidden_tag() }}
              {{ multi_reg_form.user_info(class='form-control required', rows="6", style="resize:none;",
                 placeholder="呢称1,姓名1,密码1,性别1;呢称2,姓名2,密码2,性别2;..."
              )}}
              <span id="helpBlock" class="help-block">学校默认为添加人的学校，权限默认为学生, 1表示男,0表示女</span>
              <div class="alert alert-danger col-sm-offset-3 col-sm-6" id="add-mul-info" style="display: none;margin-top: 20px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <span id="add-mul-info-text"></span>
            </div>
          </div>
          <div class="box-footer text-center no-padding">
            {{ multi_reg_form.submit(class='btn btn-primary btn-flat btn-block', value='提交') }}
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
{%- block script -%}
<script src="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/icheck.min.js') }}"></script>
<script>
  function make_iCheck() {
    $('input[type="radio"], input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
       increaseArea: '20%' // optional
    });
  }
  $(document).ready(function () {
    make_iCheck();
    $("button.close").click(function () {
      $(".alert").slideUp();
      return false;
    });
    $('#registerForm').submit(function () {
      var username_field = $('#inputUsername');
      var name_field = $('#inputName');
      var pwd_field = $('#inputPassword');
      var pwd2_field = $('#inputPassword2');
      var rights_field = $('input[name="rights"]:checked');
      if (requiredCheck(username_field, '昵称') &&
              requiredCheck(name_field, '真实姓名') &&
              requiredCheck(pwd_field, '密码') &&
              requiredCheck(pwd2_field, '验证密码')) {
        if (pwd2_field.val() != pwd_field.val()) {
          pwd2_field.focus();
          pwd2_field.attr('placeholder', '验证密码不匹配');
          return false;
        }
        if (rights_field.length <= 0) {
          rights_field.focus();
          $("#add-info-text").html("必须为用户设定权限");
          $("#add-info").fadeIn(200);
          return false;
        }
        $.post("{{ url_for('ajax.create_user') }}", $('#registerForm').serialize()).success(
          function (data) {
            $("#add-info-text").html(data);
            $("#add-info").fadeIn(200);
          }
        );
      }
      return false;
    });
    $("#multiRegForm").submit(function(){
        $.post("{{ url_for('ajax.create_users') }}", $('#multiRegForm').serialize()).success(
          function (data) {
            $("#add-mul-info-text").html(data);
            $("#add-mul-info").fadeIn(200);
          }
        );
        return false;
    });
  });
</script>
{%- endblock -%}