{% extends "admin/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list-ol"></i> <span>添加用户</span></h3>
      </div>
      <form id="registerForm" method="post" class="form-horizontal">
        <div class="box-body">
          {{ form1.hidden_tag() }}
          <div class="form-group">
            <label class="control-label col-sm-3" for="inputUsername">用户名</label>
            <div class="col-sm-8">
              {{ form1.username(class='form-control required', id="inputUsername", placeholder="用户名") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">真实姓名</label>
            <div class="col-sm-8">
              {{ form1.name(class='form-control required', id="inputname",  placeholder="真实姓名") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">密码</label>
            <div class="col-sm-8">
              {{ form1.password(class='form-control required', id="inputPassword", placeholder="密码") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">验证密码</label>
            <div class="col-sm-8">
              {{ form1.password2(class='form-control required', id="inputPassword2", placeholder="验证密码") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">学号</label>
            <div class="col-sm-8">
              {{ form1.stu_id(class='form-control required', id="inputSno", placeholder="学号") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">邮箱</label>
            <div class="col-sm-8">
              {{ form1.email(class='form-control required', id="inputEmail", placeholder="邮箱") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">性别</label>
            <div class="col-sm-8">
              {%- for sub in form1.gender %}
                <label class="radio-inline">
                  {{ sub }}
                  {{ sub.label }}
                </label>
              {%- endfor %}
            </div>
          </div>
          <div class="alert alert-info col-sm-offset-1 col-sm-10" id="add-info" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span id="add-info-text"></span>
          </div>
        </div>
        <div class="box-footer text-center">
          {{ form1.submit(class='btn btn-primary btn-flat', value='添加') }}
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list-ol"></i> <span>重置用户密码</span></h3>
      </div>
      <form id="modifyPwdForm" class="form-horizontal">
        <div class="box-body">
          {{ form2.hidden_tag() }}
          <div class="form-group">
            <label class="control-label col-sm-3">用户名</label>
            <div class="col-sm-8">
              {{ form2.username(class='form-control required', id="mUsername", placeholder="用户名") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">密码</label>
            <div class="col-sm-8">
              {{ form2.password(class='form-control required', id="mPassword", placeholder="密码") }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">验证密码</label>
            <div class="col-sm-8">
              {{ form2.verifypassword(class='form-control required', id="mPassword2", placeholder="验证密码") }}
            </div>
          </div>
          <div class="alert alert-danger col-sm-offset-1 col-sm-10" id="mod-pwd" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span id="mod-pwd-text"></span>
          </div>
        </div>
        <div class="box-footer text-center">
          {{ form2.submit(class='btn btn-danger btn-flat') }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{%- block script -%}
<script>
$(document).ready(function () {
  $("button.close").click(function () {
    $(".alert").slideUp();
    return false;
  });
  $('#registerForm').submit(function () {
    var name_field = $('#inputUsername');
    var pwd_field = $('#inputPassword');
    var pwd2_field = $('#inputPassword2');
    var sno_field = $('#inputSno');
    var email_field = $('#inputEmail');
    if (requiredCheck(name_field, '用户名') &&
      requiredCheck(pwd_field, '密码') &&
      requiredCheck(pwd2_field, '验证密码') &&
      requiredCheck(sno_field, '学号') &&
      requiredCheck(email_field, '邮箱') ) {
      if (pwd2_field.val() != pwd_field.val()) {
        pwd2_field.focus();
        pwd2_field.attr('placeholder', '验证密码不匹配');
        return false;
      }
      $.post("{{ url_for('ajax.register') }}", $('#registerForm').serialize()).success(
        function (data) {
          $("#add-info-text").html(data);
          $("#add-info").fadeIn(200);
        }
      );
    }
    return false;
  });
  $('#modifyPwdForm').submit(function () {
    var name_field = $('#mUsername');
    var pwd_field = $('#mPassword');
    var pwd2_field = $('#mPassword2');
    if (requiredCheck(name_field, '用户名') &&
      requiredCheck(pwd_field, '密码') &&
      requiredCheck(pwd2_field, '验证密码')) {
      if (pwd2_field.val() != pwd_field.val()) {
        pwd2_field.focus();
        pwd2_field.val('');
        pwd2_field.attr('placeholder', '验证密码不匹配');
        return false;
      }
      $.post("{{ url_for('ajax.modify_pwd') }}", $('#modifyPwdForm').serialize()).success(
        function (data) {
          $("#mod-pwd-text").html(data);
          $("#mod-pwd").fadeIn(200);
        }
      );
    }
    return false;
  });
});
</script>
{%- endblock -%}