{% extends "admin/base.html" %}
{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-book"></i> <span>添加书籍</span></h3>
  </div>
  <form id="postForm" method="post" class="form-horizontal">
    <div class="box-body">
      {{ book_form.hidden_tag() }}
      {{ book_form.id(style="display:none") }}
      {{ book_form.status(style="display:none") }}
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail no-padding col-sm-offset-1 col-sm-10">
          <img src="{{url_for('static', filename='image/defaultBook.jpg') }}" style="padding: 0;" id="preview">
          {{ book_form.shortcut(style="display:none",id="inputIcon", placeholder="ICON") }}
          {{ book_form.upload(style="display:none",id="inputFile", accept="image/*") }}
          <div class="caption">
            <p>书籍封面</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="form-group">
          <label class="control-label col-sm-2" for="inputName">书名</label>
          <div class="col-sm-9">
            {{ book_form.name(class="form-control required",id="inputName", placeholder="书名") }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="inputIsbn">ISBN</label>
          <div class="col-sm-9">
            {{ book_form.isbn(class="form-control required",id="inputIsbn", placeholder="ISBN") }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="inputShortcut">简介</label>
          <div class="col-sm-9">
            {{ book_form.introduce(class='form-control required',id="inputIntroduce", rows="6", style="resize:none;" , placeholder="简介") }}
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2"></div>
          <div class="col-sm-9">
            {{ book_form.submit(class='btn btn-primary', value='提交') }}
          </div>
        </div>
        <div class="alert alert-info col-sm-offset-2 col-sm-9" id="post-info" style="display: none;">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <span id="post-info-text"></span>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{%- block script -%}
<script>
$(document).ready(function () {
  var previewer = $("#preview");
  if(typeof FileReader == 'undefined') {
    previewer.InnerHTML="<p>你的浏览器不支持FileReader接口！</p>";
    this.setAttribute("disabled","disabled");
  }
  $("button.close").click(function () {
    $(".alert").slideUp();
    return false;
  });
  previewer.on('click', function() {
     $("#inputFile").click();
  });
  $("#inputFile").on('change', function() {
    var fr = new FileReader();
    fr.onload = function(evt) {
       previewer.attr('src',evt.target.result);
    };
    var file = this.files[0];
    if (file != 'undefined' && /image\/\w+/.test(file.type)) {
        $("#inputIcon").val(file.name);
        fr.readAsDataURL(file);
    }
  });
  $('#postForm').submit(function() {
      var data = new FormData($('#postForm')[0]);
      var file = $("#inputFile")[0];
      data.append(file.name,file.files[0]);
      $.ajax({
        url: "{{ url_for('ajax.add_book') }}",
        type: "POST",
        data: data,
        processData: false,  // 告诉jQuery不要去处理发送的数据
        contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
        success:function (msg) {
          $("#post-info-text").html(msg);
          $("#post-info").hide().fadeIn(200);
        }
      });
      return false;
  });
});
</script>
{%- endblock -%}