{% extends "admin/base.html" %}
{% block content %}
    <div class="container">
    <div class="block block-solid">
        <div class="block-header">
            <h3 class="block-title"><i class="fa fa-list-ol"></i> <span>添加书籍</span></h3>
        </div>
        <div class="block-content">
            <form id="postForm" method="post"  class="form-sign">
                {{ bookform.hidden_tag() }}
                {{ bookform.id(style="display:none") }}
                {{ bookform.status(style="display:none") }}
                <div class="iform-group">
                    <label class="iform-label" for="inputName">书名:</label>
                    {{ bookform.name(class="iform-control required",id="inputName", placeholder="书名") }}
                </div>
                <div class="iform-group">
                    <label class="iform-label" for="inputIsbn">ISBN:</label>
                    {{ bookform.isbn(class="iform-control required",id="inputIsbn", placeholder="ISBN") }}
                </div>
                <div class="iform-group">
                    <label class="iform-label" for="inputIcon">ICON:</label>
                    <img width="105px" height="155px" src="{{url_for('static', filename='image/defaultbook.png') }}" style="padding-bottom: 10px" id="preview">
                    {{ bookform.shortcut(style="display:none",id="inputIcon", placeholder="ICON") }}
                     {{ bookform.upload(style="display:none",id="inputFile", accept="image/*") }}
                </div>
                <div class="iform-group">
                    <label class="iform-label" for="inputShortcut">简介:</label>
                    {{ bookform.introduce(class='iform-control required',id="inputIntroduce", rows="6", style="resize:none;" , placeholder="简介") }}
                </div>
                <div class="iform-group">
                    <div class="iform-label"></div>
                    {{ bookform.submit(class='btn btn-primary', value='提交') }}
                </div>

                <div class="alert alert-error alert-block hide"  id="post-info" style="margin: 20px auto 5px auto">
                    <button type="button" class="close">&times;</button>
                    <span id="post-info-text"></span>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{%- block script -%}
<script>
    $(document).ready(function () {
        var previewer = $("#preview");
        if(typeof FileReader == 'undefined'){
                previewer.InnerHTML="<p>你的浏览器不支持FileReader接口！</p>";
                this.setAttribute("disabled","disabled");
        };
        $("button.close").click(function () {
            $(".alert").slideUp();
        });

        previewer.on('click', function() {
           $("#inputFile").click();
        });
        $("#inputFile").on('change', function() {
            var fr = new FileReader();
            fr.onload = function(evt) {
               previewer.attr('src',evt.target.result);
            };
            var file = this.files[0];
            if (file != 'undefined' && /image\/\w+/.test(file.type)) {
                $("#inputIcon").val(file.name);
                fr.readAsDataURL(file);
            }
        });
        $('#postForm').submit(function() {
            var data = new FormData($('#postForm')[0]);
            var file = $("#inputFile")[0];
            data.append(file.name,file.files[0]);
            $.ajax({
                url: "{{ url_for('ajax.add_book')  }}",
                type: "POST",
                data: data,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                success:function (msg) {
                        $("#post-info-text").html(msg);
                        $("#post-info").hide().fadeIn(200);
                    }
            });
            return false;
        });

    });
</script>
{%- endblock -%}