<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  {% if title -%}
    <title>{{ title }} - CUIT ACM Team</title>
  {%- else -%}
    <title>CUIT ACM Team</title>
  {%- endif %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/bootstrap/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/dist/css/AdminLTE.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/dist/css/skins/_all-skins.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {%- block head -%}{%- endblock -%}
</head>

<body class="skin-blue sidebar-mini fixed">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo" onclick="return false;">
      <span class="logo-mini"><b>ACM</b></span>
      <span class="logo-lg">CUIT <b>ACM</b> Team</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('main.ranklist') }}"><span>回到前台</span></a></li>
          <li class="dropdown user user-menu">
            <a href="none" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img src="{{ current_user.gravatar(size=256) }}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ current_user.name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ current_user.gravatar(size=256) }}" class="img-circle" alt="User Image">

                <p>
                  {{ current_user.name }}
                  <small>注册于 {{ current_user.create_time }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ url_for('profile.index') }}" class="btn btn-default btn-flat">个人主页</a>
                  {%- if current_user.is_admin or current_user.is_coach -%}
                    <a href="{{ url_for('admin.index') }}" class="btn btn-default btn-flat">管理员功能</a>
                  {%- endif -%}
                </div>
                <div class="pull-right">
                  <a href="{{ url_for('main.logout') }}" class="btn btn-default btn-flat">注销</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>

  <div class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ current_user.gravatar(size=256) }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-right info">
          <p class="user-name">{{ current_user.name }}</p>
          {% if current_user.is_admin %}
            <label class="label label-danger user-type">管理员</label>
          {% endif %}
          {% if current_user.is_coach %}
            <label class="label label-success user-type">教练</label>
          {% endif %}
          {% if current_user.is_student %}
            <label class="label label-primary user-type">学生</label>
          {% endif %}
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">导航</li>
        <li><a href="{{ url_for('admin.sys_info') }}"><i class="fa fa-plug"></i> <span>系统信息</span></a></li>
        <li><a href="{{ url_for('admin.manage_user') }}"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
        <li><a href="{{ url_for('admin.manage_news') }}"><i class="fa fa-rss"></i> <span>新闻管理</span></a></li>
        <li><a href="{{ url_for('admin.manage_resource') }}"><i class="fa fa-file"></i> <span>资源管理</span></a></li>
        <!--
        <li><a href="{{ url_for('admin.add_book') }}" id="user-add"><i class="fa fa-book"> </i> <span>添加书籍</span></a>
        </li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </div>

  <div class="content-wrapper" style="min-height: 299px;">
    <div class="content-header">
      {% block content_header -%}{%- endblock %}
    </div>
    <div class="content">
      {% block content -%}{%- endblock %}
    </div>
  </div>
  <footer class="main-footer">
    The MIT License (MIT) | <a href="https://github.com/Z2Y/CUITOJHelper-WebServer"><b>Project Homepage</b></a> | Copyright &copy;
    2015.
    <p class="pull-right hidden-xs">若发现Bug请发送邮件至 <a href="mailto:raynxxx@outlook.com">Rayn</a> 或者
    <a href="mailto:277507631@qq.com">zzy</a></p>
  </footer>
</div>
<a href="#" class="back_to_top">Top</a>
<!-- Javascript -->
<script src="{{ url_for('static', filename='AdminLTE2/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/dist/js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/fastclick/fastclick.min.js') }}"></script>
<script src="{{ url_for('static', filename='AdminLTE2/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/tools.js') }}"></script>
<script>
  $(document).ready(function () {
    $('.content-wrapper').hide().fadeIn(500);
  });
</script>
{%- block script -%}{%- endblock -%}
</body>
</html>


