{% extends "admin/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/flat/blue.css') }}"/>
{% endblock %}

{% block content_header -%}
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="box box-danger col-sm-4 Alert" style="display: none;">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="icon fa fa-info"> </i> 是否确认删除当前选中用户 !</h4>
      </div>
      <div class="box-body text-center">
        <button class="btn btn-danger btn-flat delete_users">确定删除</button>
        <button class="Close btn btn-default btn-flat">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="box box-primary user-box">
  <div class="box-header with-border">
    <h3 class="box-title">用户列表</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback pull-right">
        <input type="text" class="form-control input-sm" placeholder="Search User">
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <div class="user-box-controls">
      <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
      <button class="btn btn-default btn-sm to_delete_users"><i class="fa fa-trash-o"></i> 删除</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> 修改</button>
      <a class="btn btn-default btn-sm" href="{{ url_for('admin.add_user') }}"><i class="fa fa-user-plus"></i> 添加</a>
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn btn-default btn-sm prev-page"><i class="fa fa-chevron-left"></i></button>
          <button class="btn btn-default btn-sm next-page"><i class="fa fa-chevron-right"></i></button>
        </div><!-- /.btn-group -->
      </div>
    </div>
    <table class="table table-bordered table-hover table-striped user-table">
      <thead>
        <tr><th>选择</th><th>头像</th><th>姓名</th><th>权限</th><th>邮箱</th><th>学校</th></tr>
      </thead>
      <tbody class="user-table-body"></tbody>
      <tfoot>
        <tr><th>选择</th><th>头像</th><th>姓名</th><th>权限</th><th>邮箱</th><th>学校</th></tr>
      </tfoot>
    </table>
  </div>
  <div class="box-footer no-padding">
    <div class="user-box-controls">
      <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
      <button class="btn btn-default btn-sm to_delete_users"><i class="fa fa-trash-o"></i> 删除</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> 修改</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-user-plus"></i> 添加</button>
      <div class="pull-right">
        <div class="btn-group">
          <button class="btn btn-default btn-sm prev-page"><i class="fa fa-chevron-left"></i></button>
          <button class="btn btn-default btn-sm next-page"><i class="fa fa-chevron-right"></i></button>
        </div><!-- /.btn-group -->
      </div>
    </div>
  </div>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
</div>
</div>
{% endblock %}

{%- block script -%}
  <script src="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/icheck.min.js') }}"></script>
  <script>
  function make_iCheck() {
    $('.user-box input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });
  }
  function get_user_list(offset, limit) {
    $('.user-box > div.overlay').fadeIn(300, make_iCheck());
    var data = { offset: offset, limit: limit };
    $.post("{{ url_for('ajax.get_user_list') }}", data).success(function(ret) {
      var user_count = ret.sum;
      var start = ret.offset;
      var length = ret.limit;
      var users = ret.user_list;
      if (length == 0) {
        return 0;
      }
      var $user_table = $('.user-table-body').first();
      $user_table.empty();
      for (var i = 0; i < length; ++i) {
        $user_table.append(users[i]);
      }
      $('.user-box > div.overlay').fadeOut(300, make_iCheck());
      var prev = $('.prev-page');
      var next = $('.next-page');
      if (start == 0) {
        prev.hide();
      } else {
        prev.show();
        prev.val(start - limit);
      }
      if (user_count == start + length) {
        next.hide();
      } else {
        next.show();
        next.val(start + length);
      }
    });
  }
  function delete_users(checked) {
    $.post("{{ url_for('ajax.delete_users') }}", checked.serialize()).success(function(ret) {

    });
  }
  $(function() {
    make_iCheck();
    $("button.Close").click(function () {
      $(".Alert").slideUp();
      return false;
    });
    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".user-box input[type='checkbox']").iCheck("uncheck");
        $(".checkbox-toggle .fa").removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".user-box input[type='checkbox']").iCheck("check");
        $(".checkbox-toggle .fa").removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });
    var limit = 15;
    get_user_list(0, limit);
    $('.prev-page').click(function() {
      var offset = parseInt($(this).val());
      get_user_list(offset, limit);
    });
    $('.next-page').click(function() {
      var offset = parseInt($(this).val());
      get_user_list(offset, limit);
    });
    $('.to_delete_users').click(function() {
      var $check = $('input[name="user"]:checked');
      if ($check.length <= 0) {
        return false;
      }
      $(".Alert").slideDown();
    });
    $('.delete_users').click(function() {
      var $check = $('input[name="user"]:checked');
      delete_users($check);
      $(".Alert").slideUp();
    });
  });
  </script>
{%- endblock -%}