{% extends "admin/base.html" %}
{% block head %}
{% endblock %}

{% block content_header -%}
{%- endblock %}

{% block content %}
  <div class="row apply-wall">
    {% for user in apply_users %}
    <div class="apply-box col-xs-12 col-sm-4 col-md-3" id="apply{{ user.id }}">
      <div class="thumbnail">
        <div class="caption">
          <h2><img src="{{ user.gravatar(36) }}" class="apply-face img-circle"> {{ user.name }}</h2>
          <p><i class="fa fa-transgender"></i> {{ '男' if user.gender else '女' }}</p>
          <p><i class="fa fa-asterisk"></i> {{ SCHOOL_MAP[user.school] if user.school else '' }}</p>
          <p><i class="fa fa-bars"></i>
            {{ COLLEGE_MAP[user.college] if user.college else ' ' }} {{ user.grade + ' 级' if user.grade else '' }} 级
          </p>
          <p><i class="fa fa-envelope-o"></i> {{ user.email }}</p>
          <div class="apply-reason"> {{ user.apply_reason }}</div>
        </div>
        <div class="btn-group btn-group-justified">
            <a class="btn btn-danger btn-flat to_pass_user" data-uid="{{ user.id }}"
                    data-toggle="modal" data-target="#myModal"><i class="fa fa-check"></i></a>
            <a class="btn btn-default btn-flat reject_user" data-uid="{{ user.id }}"><i class="fa fa-times"></i></a>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="modal fade" id="myModal" style="margin-top: 50px;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p style="font-size: 1.4em;">确定通过当前用户的申请！</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-flat pass_user">确定</button>
          <button type="button" class="closeModal btn btn-default btn-flat" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%- block script -%}
<script src="{{ url_for('static', filename='masonry/masonry.pkgd.min.js') }}"></script>
<script>
  function make_masonry() {
    var $container = $('.apply-wall');
    $container.masonry({
      itemSelector : '.apply-box',
      isAnimated: true
    });
  }

  function check_apply(uid, opt) {
    var data = {
      'uid': uid, 'opt': opt
    };
    $.post("{{ url_for('ajax.check_apply') }}", data).success(function(ret) {
      if (opt == 'accept') {
        $('.closeModal').click();
      }
      if (ret == "OK") {
        var $items = $('#apply' + uid);
        $('.apply-wall').masonry().masonry('remove', $items).masonry('layout');
      }
    });
  }
  $(document).ready(function () {
    make_masonry();
    $('.to_pass_user').on('click', function() {
      $('.pass_user').data('uid', $(this).data('uid'));
    });
    $('.pass_user').on('click', function() {
      check_apply($(this).data('uid'), 'accept');
    });
    $('.reject_user').on('click', function() {
      //alert('reject_user');
      check_apply($(this).data('uid'), 'reject');
    });
  });
</script>
{%- endblock -%}