{% extends "admin/base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/flat/blue.css') }}"/>
{% endblock %}

{% block content_header -%}

{%- endblock %}

{% block content %}
<div class="box box-primary user-box">
  <div class="box-header with-border">
    <h3 class="box-title">用户列表</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback pull-right">
        <input type="text" class="form-control input-sm" placeholder="Search User">
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
  </div>
  <div class="box-body no-padding">
    <div class="user-box-controls">
      <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> 修改</button>
      <a class="btn btn-default btn-sm" href="{{ url_for('admin.add_user') }}"><i class="fa fa-user-plus"></i> 添加</a>
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
    <table class="table table-hover table-striped user-table"><tbody></tbody>
    </table>
  </div>
  <div class="box-footer no-padding">
    <div class="user-box-controls">
      <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> 修改</button>
      <button class="btn btn-default btn-sm"><i class="fa fa-user-plus"></i> 添加</button>
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
  <div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
{% endblock %}

{%- block script -%}
  <script src="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/icheck.min.js') }}"></script>
  <script>
  function make_iCheck() {
    $('.user-box input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_flat-blue',
      radioClass: 'iradio_flat-blue'
    });
  }
  function make_user_item(user_table, user, img_link, profile_link) {
    var origin = '<tr><td class="user-item-check"><label><input type="checkbox"'
            + 'name="user" value="' + user.id + '"></label></td>'
            + '<td class="user-item-face"><img src="' + img_link + '"></td>'
            + '<td class="user-item-name"><a href="' + profile_link
            + '" target="_blank"><b>' + user.name + '</b></a></td>'
            + '<td class="user-item-type">';
    if ((parseInt(user.rights) & 4) === 4) {
      origin += '<label class="label label-danger">管理员</label>';
    }
    if ((parseInt(user.rights) & 2) === 2) {
      origin += '<label class="label label-success">教练</label>';
    }
    if ((parseInt(user.rights) & 1) === 1) {
      origin += '<label class="label label-primary">学生</label>';
    }
    origin += '</td><td class="user-item-email text-muted">' + user.email + '</td>';
    //origin += '<td class="user-item-date"><label class="badge">' + user.score + '</label></td>';
    origin += '</tr>';
    $(user_table).append(origin);
  }
  function get_user_list(offset, limit) {
    $('.user-box > div.overlay').fadeIn(500);
    var data = { offset: offset, limit: limit };
    $.post("{{ url_for('ajax.get_user_list') }}", data).success(function(ret) {
      var user_count = ret.sum;
      var start = ret.offset;
      var length = ret.limit;
      var users = ret.user_list;
      var img_link = ret.img_link;
      var profile_link = ret.profile_link;
      if (length == 0) {
        return;
      }
      var $user_table = $('.user-table').first();
      $user_table.empty();
      for (var i = 0; i < length; ++i) {
        make_user_item($user_table, users[i], img_link[i], profile_link[i]);
      }
      $('.user-box > div.overlay').fadeOut(500);
      make_iCheck();
    });
  }
  $(function() {
    make_iCheck();
    //Enable check and uncheck all functionality
    $(".checkbox-toggle").click(function () {
      var clicks = $(this).data('clicks');
      if (clicks) {
        //Uncheck all checkboxes
        $(".user-box input[type='checkbox']").iCheck("uncheck");
        $(".checkbox-toggle .fa").removeClass("fa-check-square-o").addClass('fa-square-o');
      } else {
        //Check all checkboxes
        $(".user-box input[type='checkbox']").iCheck("check");
        $(".checkbox-toggle .fa").removeClass("fa-square-o").addClass('fa-check-square-o');
      }
      $(this).data("clicks", !clicks);
    });
    get_user_list(0, 20);
  });
  </script>
{%- endblock -%}