{% extends "admin/base.html" %}
{%- block head -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/square/blue.css') }}">
{%- endblock -%}

{% block content_header %}
  <h1>
    新闻管理
    <small>官网新闻管理</small>
  </h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary list-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list"></i> 新闻列表</h3>
        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 200px;">
            <input type="text" id="InputSearch" class="form-control pull-right"
                   placeholder="搜索标题">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default link-search"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body no-padding">
        <div class="list-box-controls">
          <button class="btn btn-default btn-sm to_delete_news" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-trash-o"></i> 删除
          </button>
          <button class="btn btn-default btn-sm edit_news">
            <i class="fa fa-pencil-square-o"></i> 修改
          </button>
          <a class="btn btn-default btn-sm" href="{{ url_for('admin.post_news') }}">
            <i class="fa fa-plus"></i> 添加
          </a>
          <button class="btn btn-default btn-sm to_refresh">
            <i class="fa fa-refresh"></i> &nbsp; 刷新列表
          </button>

          <div class="pull-right page-box">
            <div class="btn-group page-group">
            </div>
          </div>
        </div>
        <table class="table table-bordered table-hover table-striped list-table">
          <thead><tr><th>选择</th><th>标题</th><th>作者</th><th>状态</th><th>上回更新</th></tr></thead>
          <tbody class="list-table-body">
          </tbody>
          <tfoot><tr><th>选择</th><th>标题</th><th>作者</th><th>状态</th><th>上回更新</th></tr></tfoot>
        </table>
      </div>
      <div class="box-footer no-padding">
        <div class="list-box-controls">
          <div class="pull-right page-box">
            <div class="btn-group page-group"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="overlay">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" style="margin-top: 50px;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p style="font-size: 1.4em;">是否确定删除当前选定新闻！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-flat delete_news">确定删除</button>
        <button type="button" class="closeModal btn btn-default btn-flat" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%- block script -%}
<script src="{{ url_for('static', filename='AdminLTE2/plugins/iCheck/icheck.min.js') }}"></script>
<script>
  var $page_group = $('.page-group');
  var search = '';
  function make_iCheck() {
    $('.list-box input[type="checkbox"], .list-box input[type="radio"]').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue'
    });
  }
  function get_cur_page() {
    return $page_group.data('cur');
  }
  function get_total_page() {
    return $page_group.data('all');
  }
  function make_page_click() {
    $('.link-page').click(function() {
      var page = $(this).data('page');
      if (page === get_cur_page() || page === undefined ||
              page == 0 || page > get_total_page()) {
        return false;
      }
      console.log(page);
      get_news_list(page, search);
    });
  }
  function generate_pagination(cur_page, prev_num, next_num, page_list) {
    var pages = [];
    var btn_class = 'btn btn-default btn-sm link-page';
    var prev = "<button class='" + btn_class + "' data-page='" + prev_num + "'>" +
            "<i class='fa fa-chevron-left'></i></button>";
    var next = "<button class='" + btn_class + "' data-page='" + next_num + "'>" +
            "<i class='fa fa-chevron-right'></i></button>";
    pages.push(prev);
    for (var i = 0, li; i < page_list.length; ++i) {
      if (page_list[i] === null) {
        li = "<button class='" + btn_class + "'>...</button>";
      } else if (page_list[i] === cur_page) {
        li = "<button class='" + btn_class + " active'>";
        li += page_list[i] + "</button>";
      } else {
        li = "<button class='" + btn_class + "' data-page='" + page_list[i] + "'>";
        li += page_list[i] + "</button>";
      }
      pages.push(li);
    }
    pages.push(next);
    $page_group.each(function() {
      $(this).html(pages.join('\n'));
      make_page_click();
    });
  }
  function get_news_list(page, search) {
    $('.list-box > div.overlay').fadeIn(300, make_iCheck);
    var data = { page: page, search: search };
    $.get("{{ url_for('ajax.get_news_list') }}", data).success(function (response) {
      var item_list = response.items;
      var length = item_list.length;
      var $list_table = $('.list-table-body');
      $list_table.empty();
      if (length == 0) {
        $list_table.append('<tr><td colspan="5"><h2>无新闻</h2></tr>');
      } else {
        for (var i = 0; i < length; ++i) {
          $list_table.append(item_list[i]);
        }
      }
      $page_group.data('cur', response.page).data('all', response.pages);
      $('.list-box > div.overlay').fadeOut(300, make_iCheck);
      generate_pagination(response.page, response.prev_num,
                          response.next_num, response.page_list);
    }).error(function() {
      var $list_table = $('.list-table-body').first();
      $list_table.empty();
      $list_table.append('<tr><td colspan="5"><h2>加载失败</h2></tr>');
      $('.list-box > div.overlay').fadeOut(300, make_iCheck);
      $page_group.empty();
    });
  }
  function delete_news(checked) {
    var data = { 'news_id': checked };
    $.post("{{ url_for('ajax.delete_news') }}", data).success(function(ret) {
      $('.closeModal').click();
      if (ret == 'OK') {
        $('#news' + checked).fadeOut(1200, function(){ $(this).remove(); });
      }
    });
  }
  $(function () {
    make_iCheck();
    get_news_list(1);

    $('button.to_refresh').click(function() {
      get_news_list(1, search);
    });

    $('button.link-search').click(function() {
      search = $('#InputSearch').val();
      if (search === undefined) {
        return false;
      }
      get_news_list(1, search);
    });

    $('.to_delete_news').click(function() {
      var $check = $('input[name="news"]:checked');
      if ($check.length <= 0) {
        return false;
      }
    });

    $('.delete_news').click(function() {
      var check = $('input[name="news"]:checked').val();
      delete_news(check);
    });

    $('.edit_news').click(function() {
      var $check = $('input[name="news"]:checked');
      if ($check.length <= 0) {
        return false;
      }
      var url = "{{ url_for('admin.edit_news', p='') }}";
      var news_id = $check.val();
      window.location.href = url + news_id;
    });
  });
</script>
{%- endblock -%}