{% extends "admin/base.html" %}

{% block head %}
{% endblock %}

{% block content_header %}
  <h1>
    首页图片管理
    <small>首页幻灯片</small>
  </h1>
{% endblock %}

{% block content %}
<div class="row poster-wall">

  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
       onclick="window.location.href='{{ url_for('admin.cropper') }}'">
    <div class="index-poster" style="padding: 30px 0;cursor: pointer;">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  {% for poster in posters %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="poster{{ poster.id }}">
      <div class="index-poster">
        <div><img src="{{ file_url(poster) | resize('200', format='png') }}"></div>
        <div class="opt-btn">
          <a class="label label-primary to-edit-poster" data-poster="{{ poster.id }}">
            <i class="fa fa-edit"></i>
          </a>
          <a class="label label-danger to-del-poster" data-poster="{{ poster.id }}"
                  data-toggle="modal" data-target="#delPoster">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



<div class="modal fade" id="delPoster" style="margin-top: 50px;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <p style="font-size: 1.4em;">是否确定删除当前选定项！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-flat del-poster">确定删除</button>
        <button type="button" class="closeModal btn btn-default btn-flat" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{%- block script -%}
<script src="{{ url_for('static', filename='masonry/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='masonry/masonry.pkgd.min.js') }}"></script>
<script>
  var $container = $('.poster-wall');

  function make_masonry() {
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.col-md-3',
        isAnimated: true
      });
    });
  }
  $(document).ready(function () {
    make_masonry();

    $('.to-del-poster').on('click', function () {
      console.log($(this).data('poster'));
      $('.del-poster').data('poster', $(this).data('poster'));
    });

    $('.to-edit-poster').on('click', function () {
      var key = $(this).data('poster');
      var value = $(this).data('value');
      $('#imageUrl').val(key);
      $('#newsUrl').val(value);
      $('#addPoster').modal('show');
    });

    $('.del-poster').on('click', function () {
      var $this = $(this);
      var resource_id = $this.data('poster');
      var data = {
        resource_id: $this.data('poster')
      };
      $.post("{{ url_for('ajax.delete_resource') }}", data)
          .success(function(response) {
            $('.closeModal').click();
            if (response == 'OK') {
              var $items = $('#poster' + resource_id);
              $container.masonry().masonry('remove', $items).masonry('layout');
            }
          });
      return false;
    });


  });
</script>
{%- endblock -%}
