{% extends "admin/base.html" %}
{%- block head -%}
  <link rel="stylesheet" href="{{ url_for('static', filename='markdown/css/bootstrap-markdown.min.css') }}">
{%- endblock -%}
{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">发布新闻</h3>
  </div>
  <form id="postForm" method="post"  class="form-horizontal">
    <div class="box-body">
      {{ form.hidden_tag() }}
      {{ form.sid(style="display:none") }}
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputTitle">标题</label>
        <div class="col-sm-9">
          {{ form.title(class="form-control required",id="inputTitle", placeholder="标题") }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputUrl">固定链接</label>
        <div class="col-sm-9">
          {{ form.url(class="form-control required",id="inputUrl", placeholder="url") }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputShortcut">标题</label>
        <div class="col-sm-9">
          {{ form.shortcut(class=' required',id="inputShortcut", rows="6", style="resize:none;padding:10px;" , placeholder="摘要") }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputContent">正文</label>
        <div class="col-sm-9">
          {{ form.content(class='required', id="inputContent" , rows="25", style="resize:none;padding:10px;" , placeholder="正文") }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputTag">标签</label>
        <div class="col-sm-9">
          {{ form.tags(class='form-control required', id="inputTag" , placeholder="标签") }}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="inputTag">是否置顶</label>
        <div class="col-sm-9">
          {{ form.istop }}
        </div>
      </div>
      <div class="alert alert-danger col-sm-offset-2 col-sm-9"  id="post-info" style="display: none;">
          <button type="button" class="close">&times;</button>
          <span id="post-info-text"></span>
      </div>
    </div>
    <div class="box-footer text-center">
      <div class="btn-group">
              <button type="button" class="btn btn-info btn-flat" id="isave">{{ buttom[0] }}</button>
              {{ form.submit(class='btn btn-danger btn-flat', value=buttom[1] )}}
       </div>
    </div>
  </form>
</div>
{% endblock %}
{%- block script -%}
<script src="{{ url_for('static', filename='markdown/js/markdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='markdown/js/bootstrap-markdown.min.js') }}"></script>
<script>
    function save(isdraft) {
      var title = $('#inputTitle');
      if (requiredCheck(title, 'title')) {
          if (isdraft) {
              url = "{{ url_for('ajax.news_manager', draft='1') }}";
          }
          else {
              url = "{{ url_for('ajax.news_manager', draft='0') }}";
          }
          $.post(url, $('#postForm').serialize()).success(
                  function (data) {
                      $("#post-info-text").html(data);
                      $("#post-info").hide().fadeIn(200);
                  }
          );
      }
    }
  $(document).ready(function () {
    $("button.close").click(function () {
      $(".alert").slideUp();
      return false;
    });
    $('#inputShortcut').markdown({iconlibrary: 'fa'});
    $('#inputContent').markdown({iconlibrary: 'fa'});
    $('.md-editor').on("click",".btn[title='Preview']", function(){
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    });
    $('#isave').click(function(){
        save(true);
    });
    $('#postForm').submit(function () {
        save(false);
        return false;
    });
  });
</script>
{%- endblock -%}