{% extends "admin/base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='AdminLTE2/plugins/ionicons/css/ionicons.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block content_header %}
  <h1>
    系统信息
    <small>系统各模块信息概要</small>
  </h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-clock"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">当前时间</span>
          <span class="info-box-number">{{ sys['time'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="ion ion-ios-bolt-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">当日提交</span>
          <span class="info-box-number">{{ sys['daily_submit'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-pulse"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">总提交</span>
          <span class="info-box-number">{{ sys['total_submit'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">用户</span>
          <span class="info-box-number">{{ sys['user_count'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-maroon"><i class="fa fa-rss"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">新闻</span>
          <span class="info-box-number">{{ sys['news_count'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-maroon"><i class="fa fa-flag"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">荣誉墙</span>
          <span class="info-box-number">{{ sys['honor_count'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-android-person-add"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">新生申请</span>
          <span class="info-box-number">{{ sys['apply_count'] }}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div>
{% endblock %}

{%- block script -%}
{%- endblock -%}