<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <link href='{{ url_for('static', filename='styles/antd.css') }}' rel="stylesheet"/>
    <link href='{{ url_for('static', filename='bundle/admin.css') }}' rel="stylesheet"/>

    <script src='{{ url_for('static', filename='bundle/common.js') }}'></script>
  </head>
  <body>
    <div id='app' style="background: #ececec;"></div>
    <script src='{{ url_for('static', filename='bundle/admin.js') }}'></script>
  </body>
</html>
